<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Reports
 */
-->
<config>
    <modules>
        <Amasty_Reports>
            <version>1.0.0</version>
        </Amasty_Reports>
    </modules>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <report>
                            <children>
                                <amreports>
                                    <title>Amasty Reports</title>
                                </amreports>
                            </children>
                        </report>

                        <system>
                            <children>
                                <config>
                                    <children>
                                        <amreports translate="title" module="amreports">
                                            <title>Amasty Reports</title>
                                        </amreports>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Amasty_Reports>
                    <files>
                        <default>Amasty_Reports.csv</default>
                    </files>
                </Amasty_Reports>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <addNewPrototype>
                        <type>model</type>
                        <class>Amasty_Reports_Model_Observer</class>
                        <method>replaceRequireJs</method>
                    </addNewPrototype>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <layout>
            <updates>
                <Amasty_Reports>
                    <file>amasty/amreports.xml</file>
                </Amasty_Reports>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <amreports>
                <class>Amasty_Reports_Model</class>
                <resourceModel>amreports_resource</resourceModel>
            </amreports>
            <amreports_reports>
                <class>Amasty_Reports_Model_Reports</class>
            </amreports_reports>
            <amreports_resource>
                <class>Amasty_Reports_Model_Resource</class>
                <entities>
                    <data>
                        <table>amreports_data</table>
                    </data>
                </entities>
            </amreports_resource>
        </models>
        <blocks>
            <amreports>
                <class>Amasty_Reports_Block</class>
            </amreports>
        </blocks>
        <helpers>
            <amreports>
                <class>Amasty_Reports_Helper</class>
            </amreports>
        </helpers>
        <resources>
            <amreports_setup>
                <setup>
                    <module>Amasty_Reports</module>
                </setup>
            </amreports_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Amasty_Reports after="Mage_Adminhtml">Amasty_Reports_Adminhtml</Amasty_Reports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>