<?xml version="1.0"?>
<!--
/**
 * MageWorx
 * Search Suite
 *
 * @category   MageWorx
 * @package    MageWorx_SearchSuite
 * @copyright  Copyright (c) 2015 MageWorx (http://www.mageworx.com/)
 */
-->
<config>
    <sections>
        <mageworx_searchsuite translate="label" module="mageworx_searchsuite">
            <label>Search Suite</label>
            <tab>mageworx</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <main translate="label" module="mageworx_searchsuite">
                    <label>Main Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        
                        <default_search_text translate="label">
                            <label>Default Search Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_search_text>
                        
                        <search_accuracy translate="label">
                            <label>Search Query Accuracy</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mageworx_searchsuite/system_config_source_accuracy</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </search_accuracy>
                        <engine translate="label">
                            <label>Search Engine</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mageworx_searchsuite/system_config_source_engine</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </engine>

                        <priority_multiplier translate="label">
                            <label>Priority Multiplier</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </priority_multiplier>
                        
                        <search_by_attributes translate="label">
                            <label>Search by Attributes</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </search_by_attributes>
                        <search_by_categories translate="label">
                            <label>Search by Categories</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </search_by_categories>
                        <searchfield_length translate="label comment">
                            <label>Length of Search Field</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>In pixels</comment>
                        </searchfield_length>
                        <jquery_enabled translate="label">
                            <label>Add Search Suite jQuery File</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>75</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Disable it if you already have the jQuery enabled in your Magento</comment>
                        </jquery_enabled>
                        <product_redirect translate="label comment">
                            <label>Redirect to Product</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Redirects to a product page if only one product is found</comment>
                        </product_redirect>
                        
                        <did_you_mean translate="label">
                            <label>Enable "Did you mean" Functionality</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </did_you_mean>
                        <!--                        <did_you_mean_results translate="label">
                            <label>Show results for "Did you mean" keyword</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </did_you_mean_results>-->
                        
                        <related_searches translate="label">
                            <label>Enable Related Searches</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </related_searches>
                        
                        <highlighting_enabled translate="label">
                            <label>Enable search terms highlighting</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </highlighting_enabled>
                        
                        <cmspage_enable translate="label">
                            <label>Search CMS</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cmspage_enable>  
                        <cmspage_fields translate="label">
                            <label>CMS Search Result Fields</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>mageworx_searchsuite/system_config_source_cmspage_fields</source_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cmspage_fields>
                        
                        <category_enable translate="label">
                            <label>Search Category</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category_enable>            
                        <category_fields translate="label">
                            <label>Category Search Result Fields</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>mageworx_searchsuite/system_config_source_category_fields</source_model>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category_fields>
                        <category_thumbnail_size translate="label">
                            <label>Category Thumbnail Size</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>170</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category_thumbnail_size>
                    </fields>
                </main>
                <indexes translate="label" module="mageworx_searchsuite">
                    <label>Search Indexes</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <cmspage_enable translate="label">
                            <label>Enable CMS Page Index</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cmspage_enable> 
                        <cmspage_filter translate="label">
                            <label>Filter CMS Pages</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>mageworx_searchsuite/system_config_source_cmspage_filter</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </cmspage_filter> 
                        <category_enable translate="label">
                            <label>Enable Category Index</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category_enable>              
                    </fields>
                </indexes>
            </groups>
        </mageworx_searchsuite>
    </sections>
</config>