<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Fontis Software License that is available in
 * the FONTIS-LICENSE.txt file included with this extension. This file is located
 * by default in the root directory of your Magento installation. If you are unable
 * to obtain the license from the file, please contact us via our website and you
 * will be sent a copy.
 *
 * @category   Fontis
 * @copyright  Copyright (c) 2015 Fontis Pty. Ltd. (http://www.fontis.com.au)
 * @license    Fontis Software License
 */
-->

<config>
    <modules>
        <Fontis_Tokens>
            <version>2.1.0</version>
        </Fontis_Tokens>
    </modules>

    <global>
        <helpers>
            <tokens>
                <class>Fontis_Tokens_Helper</class>
            </tokens>
        </helpers>
    </global>

    <frontend>
        <tokens>
            <providers>
                <cms>tokens/provider_cms</cms>
                <customer>tokens/provider_customer</customer>
                <category>tokens/provider_catalog_category</category>
                <product>tokens/provider_catalog_product</product>
                <cart>tokens/provider_checkout_cart</cart>
                <order>tokens/provider_checkout_success</order>
                <other>tokens/provider_other</other>
            </providers>
        </tokens>
    </frontend>
</config>
