<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Dealerlocator>
      <version>0.2.4</version>
    </Magebuzz_Dealerlocator>
  </modules>
  <frontend>
    <routers>
      <dealerlocator>
        <use>standard</use>
        <args>
          <module>Magebuzz_Dealerlocator</module>
          <frontName>dealerlocator</frontName>
        </args>
      </dealerlocator>
    </routers>
    <layout>
      <updates>
        <dealerlocator>
          <file>dealerlocator.xml</file>
        </dealerlocator>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Dealerlocator>
          <files>
            <default>Magebuzz_Dealerlocator.csv</default>
          </files>
        </Magebuzz_Dealerlocator>
      </modules>
    </translate>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules><Magebuzz_Dealerlocator after="Mage_Adminhtml">Magebuzz_Dealerlocator_Adminhtml</Magebuzz_Dealerlocator></modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <dealerlocator>
          <file>dealerlocator.xml</file>
        </dealerlocator>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Dealerlocator>
          <files>
            <default>Magebuzz_Dealerlocator.csv</default>
          </files>
        </Magebuzz_Dealerlocator>
      </modules>
    </translate>
  </adminhtml>

  <global>
    <models>
      <dealerlocator>
        <class>Magebuzz_Dealerlocator_Model</class>
        <resourceModel>dealerlocator_mysql4</resourceModel>
      </dealerlocator>
      <dealerlocator_mysql4>
        <class>Magebuzz_Dealerlocator_Model_Mysql4</class>
        <entities>
          <dealerlocator>
            <table>dealerlocator</table>
          </dealerlocator>
          <dealerlocator_store>
            <table>dealerlocator_store</table>
          </dealerlocator_store>
          <dealerlocator_tag>
            <table>dealerlocator_tag</table>
          </dealerlocator_tag>
        </entities>
      </dealerlocator_mysql4>
    </models>

    <resources>
      <dealerlocator_setup>
        <setup>
          <module>Magebuzz_Dealerlocator</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </dealerlocator_setup>
      <dealerlocator_write>
        <connection>
          <use>core_write</use>
        </connection>
      </dealerlocator_write>
      <dealerlocator_read>
        <connection>
          <use>core_read</use>
        </connection>
      </dealerlocator_read>
    </resources>

    <blocks>
      <dealerlocator>
        <class>Magebuzz_Dealerlocator_Block</class>
      </dealerlocator>
      <page>
        <rewrite>
          <html_head>Magebuzz_Dealerlocator_Block_Html_Head</html_head>
        </rewrite>
      </page>
    </blocks>

    <helpers>
      <dealerlocator>
        <class>Magebuzz_Dealerlocator_Helper</class>
      </dealerlocator>
    </helpers>

  </global>

  <default>
    <dealerlocator>
      <google_map_options>
        <google_geo_api_url>https://maps.googleapis.com/maps/api/geocode/json</google_geo_api_url>
        <show_search_form>1</show_search_form>
        <enable_search_suggestion>1</enable_search_suggestion>
        <default_dealer_icon>default/dealer_icon.png</default_dealer_icon>
        <search_radius>25,50,100</search_radius>
        <default_search_radius>25</default_search_radius>
        <distance_units>0</distance_units>
        <show_top_link>1</show_top_link>
        <page_type>1</page_type>
        <show_per_page_values>10,20,30</show_per_page_values>
        <show_per_page>10</show_per_page>
        <display_tag_filter>1</display_tag_filter>
      </google_map_options>
    </dealerlocator>
  </default>
</config>