<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Countingdown>
      <version>0.2.1</version>
    </Magebuzz_Countingdown>
  </modules>
  <frontend>
    <routers>
      <countingdown>
        <use>standard</use>
        <args>
          <module>Magebuzz_Countingdown</module>
          <frontName>countingdown</frontName>
        </args>
      </countingdown>
    </routers>
    <layout>
      <updates>
        <countingdown>
          <file>countingdown.xml</file>
        </countingdown>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Countingdown>
          <files>
            <default>Magebuzz_Countingdown.csv</default>
          </files>
        </Magebuzz_Countingdown>
      </modules>
    </translate>    
  </frontend>
  <admin>
    <routers>
      <countingdown>
        <use>admin</use>
        <args>
          <module>Magebuzz_Countingdown</module>
          <frontName>countingdown</frontName>
        </args>
      </countingdown>   
    </routers>
  </admin>
  <adminhtml>		
    <layout>
      <updates>
        <countingdown>
          <file>countingdown.xml</file>
        </countingdown>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Countingdown>
          <files>
            <default>Magebuzz_Countingdown.csv</default>
          </files>
        </Magebuzz_Countingdown>
      </modules>
    </translate>
  </adminhtml>   
  <global>
    <models>
      <countingdown>
        <class>Magebuzz_Countingdown_Model</class>
        <resourceModel>countingdown_mysql4</resourceModel>
      </countingdown>
      <countingdown_mysql4>
        <class>Magebuzz_Countingdown_Model_Mysql4</class>
        <entities>
          <countingdown>
            <table>countingdown</table>
          </countingdown>
        </entities>
      </countingdown_mysql4>
    </models>
    <resources>
      <countingdown_setup>
        <setup>
          <module>Magebuzz_Countingdown</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </countingdown_setup>
      <countingdown_write>
        <connection>
          <use>core_write</use>
        </connection>
      </countingdown_write>
      <countingdown_read>
        <connection>
          <use>core_read</use>
        </connection>
      </countingdown_read>
      <CustomCatAttrb_setup>
        <setup>
          <module>GaussDev_CustomCatAttrb</module>
          <class>Mage_Eav_Model_Entity_Setup</class>
        </setup>
        <connection>
          <use>default_setup</use>
        </connection>
      </CustomCatAttrb_setup>
    </resources>
    <blocks>
      <countingdown>
        <class>Magebuzz_Countingdown_Block</class>
      </countingdown>
      <wishlist>
        <rewrite>
          <customer_wishlist>Magebuzz_Countingdown_Block_Wishlist</customer_wishlist>
        </rewrite>
      </wishlist>
    </blocks>
    <helpers>
      <countingdown>
        <class>Magebuzz_Countingdown_Helper</class>
      </countingdown>
    </helpers>
  </global>
</config>