<?xml version="1.0"?>
<config>
    <modules>
        <Crystal_MobileApp>
            <version>1.0.0</version>
        </Crystal_MobileApp>
    </modules>
    <frontend>
        <routers>
            <mobileapp>
                <use>standard</use>
                <args>
                    <module>Crystal_MobileApp</module>
                    <frontName>mobileapp</frontName>
                </args>
            </mobileapp>
        </routers>
        <layout>
            <updates>
                <mobileapp>
                    <file>mobileapp.xml</file>
                </mobileapp>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mobileapp>
				<use>admin</use>
				<args>
					<module>Crystal_MobileApp</module>
					<frontName>mobileapp</frontName>
				</args>
			</mobileapp>
        </routers>
    </admin>
    <global>
        <models>
            <mobileapp>
                <class>Crystal_MobileApp_Model</class>
                <resourceModel>mobileapp_mysql4</resourceModel>
            </mobileapp>
            <mobileapp_mysql4>
                <class>Crystal_MobileApp_Model_Mysql4</class>
            </mobileapp_mysql4>
        </models>
        <resources>
            <mobileapp_setup>
                <setup>
                    <module>Crystal_MobileApp</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mobileapp_setup>
            <mobileapp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mobileapp_write>
            <mobileapp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mobileapp_read>
        </resources>
        <blocks>
            <mobileapp>
                <class>Crystal_MobileApp_Block</class>
            </mobileapp>
        </blocks>
        <helpers>
            <mobileapp>
                <class>Crystal_MobileApp_Helper</class>
            </mobileapp>
        </helpers>
    </global>
</config>