/LICENSE_AFL.txt
/mage
/get.php
/index.php
/LICENSE.html
/cron.sh
/api.php
/LICENSE.txt
/magento1924.zip
/install.php
/cron.php
/index.php.sample
/php.ini.sample
/favicon.ico
/.htaccess.sample
/skin/frontend/default/iphone
/skin/frontend/default/blue
/skin/frontend/default/blank
/skin/frontend/default/french
/skin/frontend/default/german
/skin/frontend/default/modern
/skin/frontend/default/default
/skin/frontend/rwd/default
/RELEASE_NOTES.txt
/.htaccess
/skin/install
/var
/media/.htaccess
/media/xmlconnect
/lib/3Dsecure
/lib/Cm
/lib/Credis
/lib/flex
/lib/Mage
/lib/Magento
/lib/Net
/lib/PEAR
/lib/Pelago
/lib/phpseclib
/lib/Unserialize
/lib/Varien
/lib/Zend
/lib/.htaccess
/js/blank.html
/js/index.php
/js/spacer.gif
/js/calendar
/js/extjs
/js/flash
/js/jscolor
/includes/.htaccess
/includes/config.php
/app/.htaccess
/app/bootstrap.php
/app/Mage.php
/app/etc/config.xml
/app/etc/local.xml.additional
/app/etc/local.xml.template
/app/etc/modules/Mage_Api2.xml
/app/etc/modules/Mage_Downloadable.xml
/app/etc/modules/Mage_Connect.xml
/app/etc/modules/Mage_Persistent.xml
/app/etc/modules/Mage_Api.xml
/app/etc/modules/Mage_Captcha.xml
/app/etc/modules/Mage_CurrencySymbol.xml
/app/etc/modules/Phoenix_Moneybookers.xml
/app/etc/modules/Mage_ImportExport.xml
/app/etc/modules/Mage_All.xml
/app/etc/modules/Mage_Widget.xml
/app/etc/modules/Mage_Bundle.xml
/app/etc/modules/Mage_PageCache.xml
/app/design/install
/app/design/frontend/default/modern
/app/design/frontend/default/default
/app/design/frontend/default/iphone
/app/design/frontend/default/blank
/app/code/core/Zend
/app/code/community/Cm
/app/code/community/Phoenix
/app/etc/modules/Mage_Centinel.xml
/app/etc/modules/Cm_RedisSession.xml
/app/etc/modules/Mage_Weee.xml
/app/etc/modules/Mage_Oauth.xml
/app/etc/modules/Mage_Compiler.xml
/app/etc/modules/Mage_Authorizenet.xml
/app/etc/modules/Mage_XmlConnect.xml
/app/etc/modules/Mage_ConfigurableSwatches.xml
/js/mage
/js/prototype
/media/catalog
/media/amlabel
/js/scriptaculous
/js/tiny_mce
/media/downloadable
/media/dhl
/media/customer
/.idea
/app/etc/local.xml
/.idea/workspace.xml
/.idea/misc.xml
media/magpleasure/
media/banners/
media/amshopby/
/nbproject/private/
nbproject/
media/magebuzz/
