<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Crystal_Activity>
            <version>0.0.1</version>
        </Crystal_Activity>
    </modules>
    <global>
        <resources>
            <activity_setup>
                <setup>
                    <module>Crystal_Activity</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </activity_setup>
            <activity_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </activity_write>
            <activity_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </activity_read>
        </resources>
        <!--<blocks>-->
            <!--<activity>-->
                <!--<class>Crystal_Activity_Block</class>-->
            <!--</activity>-->
        <!--</blocks>-->
        <helpers>
            <activity>
                <class>Crystal_Activity_Helper</class>
            </activity>
        </helpers>
        <models>
            <activity>
                <class>Crystal_Activity_Model</class>
                <resourceModel>activity_resource</resourceModel>
            </activity>
            <activity_resource>
                <class>Crystal_Activity_Model_Resource</class>
                <entities>
                    <activity>
                        <table>crystal_card_id</table>
                    </activity>
                </entities>
            </activity_resource>
        </models>
    </global>
    <!--<admin>-->
        <!--<routers>-->
            <!--<adminhtml>-->
                <!--<args>-->
                    <!--<modules>-->
                        <!--<activity before="Mage_Adminhtml">Crystal_Activity_Adminhtml</activity>-->
                    <!--</modules>-->
                <!--</args>-->
            <!--</adminhtml>-->
        <!--</routers>-->
    <!--</admin>-->
    <!--<adminhtml>-->
        <!--<layout>-->
            <!--<updates>-->
                <!--<activity>-->
                    <!--<file>activity.xml</file>-->
                <!--</activity>-->
            <!--</updates>-->
        <!--</layout>-->
    <!--</adminhtml>-->
</config>
