<?xml version="1.0"?>
<!--
/**
 * MageWorx
 * Search Suite
 *
 * @category   MageWorx
 * @package    MageWorx_SearchSuite
 * @copyright  Copyright (c) 2015 MageWorx (http://www.mageworx.com/)
 */
-->
<config>
    <modules>
        <MageWorx_SearchSuite>
            <version>1.2.0</version>
        </MageWorx_SearchSuite>
    </modules>
    <global>
        <helpers>
            <mageworx_searchsuite>
                <class>
                    MageWorx_SearchSuite_Helper
                </class>
            </mageworx_searchsuite>
        </helpers>
        
        <blocks>
            <mageworx_searchsuite>
                <class>MageWorx_SearchSuite_Block</class>
            </mageworx_searchsuite>
        </blocks>
        
        <models>
            <mageworx_searchsuite>
                <class>MageWorx_SearchSuite_Model</class>
                <resourceModel>mageworx_searchsuite_resource</resourceModel>
            </mageworx_searchsuite>
            <mageworx_searchsuite_resource>
                <class>MageWorx_SearchSuite_Model_Resource</class>
                <entities>
                    <purchase_tracking>
                        <table>mageworx_searchsuite_purchase_tracking</table>
                    </purchase_tracking>
                    <conversion_tracking>
                        <table>mageworx_searchsuite_conversion_tracking</table>
                    </conversion_tracking>
                    <region_tracking>
                        <table>mageworx_searchsuite_region_tracking</table>
                    </region_tracking>
                    <category_fulltext>
                        <table>mageworx_searchsuite_category_fulltext</table>
                    </category_fulltext>
                    <category_result>
                        <table>mageworx_searchsuite_category_result</table>
                    </category_result>
                    <cmspage_fulltext>
                        <table>mageworx_searchsuite_cmspage_fulltext</table>
                    </cmspage_fulltext>
                    <cmspage_result>
                        <table>mageworx_searchsuite_cmspage_result</table>
                    </cmspage_result>
                    <synonyms>
                        <table>mageworx_searchsuite_synonyms</table>
                    </synonyms>
                    <stopwords>
                        <table>mageworx_searchsuite_stopwords</table>
                    </stopwords>
                </entities>
            </mageworx_searchsuite_resource>
            <catalogsearch>
                <rewrite>
                    <fulltext>MageWorx_SearchSuite_Model_CatalogSearch_Fulltext</fulltext>
                </rewrite>
            </catalogsearch>
            <catalogsearch_mysql4>
                <rewrite>
                    <fulltext>MageWorx_SearchSuite_Model_Resource_CatalogSearch_Fulltext</fulltext>
                    <query>MageWorx_SearchSuite_Model_Resource_CatalogSearch_Query</query>
                </rewrite>
            </catalogsearch_mysql4>
        </models>
        
        <resources>
            <mageworx_searchsuite_setup>
                <setup>
                    <module>MageWorx_SearchSuite</module>
                    <class>MageWorx_SearchSuite_Model_Resource_Setup</class>
                </setup>               
            </mageworx_searchsuite_setup>           
        </resources>
        
        <index>
            <indexer>
                <mageworx_searchsuite_cms>
                    <model>mageworx_searchsuite/indexer_cmspage</model>
                </mageworx_searchsuite_cms>
                <mageworx_searchsuite_category>
                    <model>mageworx_searchsuite/indexer_category</model>
                </mageworx_searchsuite_category>
            </indexer>
        </index>
    </global>
    
    <frontend>
        <product>
            <collection>
                <attributes>
                    <image />
               </attributes>
            </collection>
        </product>
        <layout>
            <updates>
                <mageworx_searchsuite>
                    <file>mageworx_searchsuite.xml</file>
                </mageworx_searchsuite>
            </updates>
        </layout>
        <routers>
            <catalogsearch>
                <args>
                    <modules>
                        <MageWorx_SearchSuite before="Mage_CatalogSearch">MageWorx_SearchSuite</MageWorx_SearchSuite>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <events>
            <catalog_controller_product_init>
                <observers>
                    <mageworx_searchsuite_catalog_controller_product_init>
                        <class>mageworx_searchsuite/observer</class>
                        <method>catalogControllerProductInit</method>
                    </mageworx_searchsuite_catalog_controller_product_init>
                </observers>
            </catalog_controller_product_init>
            <checkout_cart_product_add_after>
                <observers>
                    <mageworx_searchsuite_checkout_cart_product_add_after>
                        <class>mageworx_searchsuite/observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </mageworx_searchsuite_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
            <sales_order_place_after>
                <observers>
                    <mageworx_searchsuite_sales_order_place_after>
                        <class>mageworx_searchsuite/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </mageworx_searchsuite_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <mageworx_searchsuite_prepare_result_after>
                <observers>
                    <mageworx_searchsuite_prepare_result_after>
                        <class>mageworx_searchsuite/observer</class>
                        <method>searchsuitePrepareResultAfter</method>
                    </mageworx_searchsuite_prepare_result_after>
                </observers>
            </mageworx_searchsuite_prepare_result_after>
            <catalog_product_collection_load_after>
                <observers>
                    <mageworx_searchsuite_catalog_product_collection_load_after>
                        <class>mageworx_searchsuite/observer</class>
                        <method>catalogProductCollectionLoadAfter</method>
                    </mageworx_searchsuite_catalog_product_collection_load_after>
                </observers>
            </catalog_product_collection_load_after>
            <catalog_product_collection_load_before>
                <observers>
                    <mageworx_searchsuite_catalog_product_collection_load_before>
                        <class>mageworx_searchsuite/observer</class>
                        <method>catalogProductCollectionLoadBefore</method>
                    </mageworx_searchsuite_catalog_product_collection_load_before>
                </observers>
            </catalog_product_collection_load_before>
            <controller_action_predispatch>
                <observers>
                    <mageworx_searchsuite_controller_action_predispatch>
                        <class>mageworx_searchsuite/observer</class>
                        <method>controllerActionPredispatch</method>
                    </mageworx_searchsuite_controller_action_predispatch>
                </observers>
            </controller_action_predispatch> 
        </events>
        <translate>
            <modules>
                <MageWorx_SearchSuite>
                    <files>
                        <default>MageWorx_SearchSuite.csv</default>
                    </files>
                </MageWorx_SearchSuite>
            </modules>
        </translate>
    </frontend>
    
    <adminhtml>
        <layout>
            <updates>
                <mageworx_searchsuite>
                    <file>mageworx_searchsuite.xml</file>
                </mageworx_searchsuite>
            </updates>
        </layout>
        
        <events>
            <cms_page_save_after>
                <observers>
                    <mageworx_searchsuite_cms_page_save_after>
                        <class>mageworx_searchsuite/observer</class>
                        <method>cmsPageSaveAfter</method>
                    </mageworx_searchsuite_cms_page_save_after>
                </observers>
            </cms_page_save_after>
            <cms_page_delete_before>
                <observers>
                    <mageworx_searchsuite_cms_page_delete_before>
                        <class>mageworx_searchsuite/observer</class>
                        <method>cmsPageDeleteBefore</method>
                    </mageworx_searchsuite_cms_page_delete_before>
                </observers>
            </cms_page_delete_before>
            <catalog_category_save_after>
                <observers>
                    <mageworx_searchsuite_catalog_category_save_after>
                        <class>mageworx_searchsuite/observer</class>
                        <method>catalogCategorySaveAfter</method>
                    </mageworx_searchsuite_catalog_category_save_after>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_before>
                <observers>
                    <mageworx_searchsuite_catalog_category_delete_before>
                        <class>mageworx_searchsuite/observer</class>
                        <method>catalogCategoryDeleteBefore</method>
                    </mageworx_searchsuite_catalog_category_delete_before>
                </observers>
            </catalog_category_delete_before>
            <adminhtml_block_html_before>
                <observers>
                    <mageworx_searchsuite_html_before>
                        <class>mageworx_searchsuite/observer</class>
                        <method>htmlBefore</method>
                    </mageworx_searchsuite_html_before>
                </observers>
            </adminhtml_block_html_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <mageworx_searchsuite_core_block_abstract_prepare_layout_before>
                        <class>mageworx_searchsuite/observer</class>
                        <method>coreBlockAbstractPrepareLayoutBefore</method>
                    </mageworx_searchsuite_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <core_collection_abstract_load_before>
                <observers>
                    <mageworx_searchsuite_collection_load_before>
                        <class>mageworx_searchsuite/observer</class>
                        <method>collectionLoadBefore</method>
                    </mageworx_searchsuite_collection_load_before>
                </observers>
            </core_collection_abstract_load_before>
        </events>
        <translate>
            <modules>
                <MageWorx_SearchSuite>
                    <files>
                        <default>MageWorx_SearchSuite.csv</default>
                    </files>
                </MageWorx_SearchSuite>
            </modules>
        </translate>
    </adminhtml>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MageWorx_SearchSuite after="Mage_Adminhtml">MageWorx_SearchSuite_Adminhtml</MageWorx_SearchSuite>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <default>
        <mageworx_searchsuite>
            <main>
                <default_search_text>Search entire store here...</default_search_text>
                <search_accuracy>any</search_accuracy>
                <priority_multiplier>1.5</priority_multiplier>  
                <search_by_attributes>0</search_by_attributes>
                <highlighting_enabled>0</highlighting_enabled>
                <category_thumbnail_size>80x80</category_thumbnail_size>
                <searchfield_length>200</searchfield_length>
                <did_you_mean>1</did_you_mean>
                <did_you_mean_results>1</did_you_mean_results>
                <related_searches>1</related_searches>
                <jquery_enabled>1</jquery_enabled>
            </main>
            <indexes>
                <cmspage_filter>no-route,enable-cookies</cmspage_filter>
            </indexes>
        </mageworx_searchsuite>
    </default>
</config>
