<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Crystal_BlockSlide>
            <version>0.4.0</version>
        </Crystal_BlockSlide>
    </modules>
    <global>
        <resources>
            <blockslide_setup>
                <setup>
                    <module>Crystal_BlockSlide</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blockslide_setup>
            <blockslide_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blockslide_write>
            <blockslide_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blockslide_read>
        </resources>
        <blocks>
            <blockslide>
                <class>Crystal_BlockSlide_Block</class>
            </blockslide>
        </blocks>
        <helpers>
            <blockslide>
                <class>Crystal_BlockSlide_Helper</class>
            </blockslide>
        </helpers>
        <models>
            <blockslide>
                <class>Crystal_BlockSlide_Model</class>
                <resourceModel>blockslide_resource</resourceModel>
            </blockslide>
            <blockslide_resource>
                <class>Crystal_BlockSlide_Model_Resource</class>
                <entities>
                    <blockslide>
                        <table>crystal_block_slide</table>
                    </blockslide>
                </entities>
            </blockslide_resource>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <blockslide before="Mage_Adminhtml">Crystal_BlockSlide_Adminhtml</blockslide>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <blockslide>
                    <file>blockslide.xml</file>
                </blockslide>
            </updates>
        </layout>
    </adminhtml>
</config>
