<!--@subject Email - Footer @-->
                    <!-- End Content -->

                    </td>
                </tr>
                <tr>
                  <td>
                    <div class="email-footer">
                      <div class="container">
                        <div class="site-address">
                          <h3>CARNIVAL SUPPLY CO., LTD. (HEAD OFFICE)</h3>
                          <span class="block">88, 5 Floor, Room no. E503,504, Active Box Building (Stadium One Sport Complex) Soi Chula 5, Phraram 6 Road, Wangmai, Pathumwan, Bangkok 10330  <br />TEL .02-1147423</span>
                        </div>
                        <div class="site-follow">
                          <h3 class="title">FOLLOW US</h3>
                          <ul>
                            <li>
                              <a class="link-facebook"  href="https://www.facebook.com/carnivalbkk" title="CARNIVAL STORE">CARNIVAL STORE</a>
                            </li>
                            <li>
                              <a class="link-instagram"  href="https://www.instagram.com/carnivalbkk/" title="CARNIVALBKK">CARNIVALBKK</a>
                            </li>
                            <li>
                              <a class="link-youtube" href="https://www.youtube.com/channel/UCaaDWHXx-fnfPbkhgSGpaHQ" title="Carnival Bangkok">Carnival Bangkok</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
