<?xml version="1.0"?>
<config>
  <modules>
    <Bss_MinMaxQtyOrderPerCate>
      <version>1.0.0</version>
    </Bss_MinMaxQtyOrderPerCate>
  </modules>
  <global>
    <helpers>
      <minmaxqtyorderpercate>
        <class>Bss_MinMaxQtyOrderPerCate_Helper</class>
      </minmaxqtyorderpercate>
    </helpers>
    <blocks>
    <minmaxqtyorderpercate>
    <class>Bss_MinMaxQtyOrderPerCate_Block</class>
    </minmaxqtyorderpercate>
  </blocks>
  <models>
    <minmaxqtyorderpercate>
    <class>Bss_MinMaxQtyOrderPerCate_Model</class>
    </minmaxqtyorderpercate>
  </models>
  </global>
  <frontend>
    <layout>
        <updates>
            <minmaxqtyorderpercate>
                <file>bss/minmaxqtyorderpercate.xml</file>
            </minmaxqtyorderpercate>
        </updates>
    </layout>
        <events>
          <controller_action_predispatch_checkout_cart_index>
            <observers>
              <minmaxqtyorderpercate_checkout_cart>
                  <class>minmaxqtyorderpercate/observer</class>
                  <method>limitMinMaxQty</method>
              </minmaxqtyorderpercate_checkout_cart>
            </observers>
          </controller_action_predispatch_checkout_cart_index>
          <controller_action_predispatch_checkout_onepage_index>
            <observers>
              <minmaxqtyorderpercate_checkout_onepage_index>
                <class>minmaxqtyorderpercate/observer</class>
                <method>limitMinMaxQty</method>
              </minmaxqtyorderpercate_checkout_onepage_index>
            </observers>
          </controller_action_predispatch_checkout_onepage_index>

          <controller_action_predispatch_onepage_index_index>
            <observers>
              <minmaxqtyorderpercate_onepage_index_index>
                <class>minmaxqtyorderpercate/observer</class>
                <method>limitMinMaxQty</method>
              </minmaxqtyorderpercate_onepage_index_index>
            </observers>
          </controller_action_predispatch_onepage_index_index>
        </events>
    </frontend>
    <default>
      <minmaxqtyorder_per_cate>
        <min_max_qty_gr>
                <enable>1</enable>
                <show_category>1</show_category>
                <mess_err_max>The max quantity allowed for purchase at category {{category_name}} is {{qty_limit}}  [ Product Name : {{product_name}} ]</mess_err_max>
                <mess_err_min>The min quantity allowed for purchase at category {{category_name}} is {{qty_limit}} [ Product Name : {{product_name}} ]</mess_err_min>
        </min_max_qty_gr>
      </minmaxqtyorder_per_cate>
    </default>
</config> 