<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Confirmpayment>
      <version>0.1.1</version>
    </Magebuzz_Confirmpayment>
  </modules>
  <frontend>
    <routers>
      <confirmpayment>
        <use>standard</use>
        <args>
          <module>Magebuzz_Confirmpayment</module>
          <frontName>confirmpayment</frontName>
        </args>
      </confirmpayment>
    </routers>
    <layout>
      <updates>
        <confirmpayment>
          <file>confirmpayment.xml</file>
        </confirmpayment>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Confirmpayment>
          <files>
            <default>Magebuzz_Confirmpayment.csv</default>
          </files>
        </Magebuzz_Confirmpayment>
      </modules>
    </translate>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <use>admin</use>
        <args>
          <modules><Magebuzz_Confirmpayment after="Mage_Adminhtml">Magebuzz_Confirmpayment_Adminhtml</Magebuzz_Confirmpayment></modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <confirmpayment>
          <file>confirmpayment.xml</file>
        </confirmpayment>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_ConfirmPayment>
          <files>
            <default>Magebuzz_ConfirmPayment.csv</default>
          </files>
        </Magebuzz_ConfirmPayment>
      </modules>
    </translate>
  </adminhtml>
  <global>
    <models>
      <confirmpayment>
        <class>Magebuzz_Confirmpayment_Model</class>
        <resourceModel>confirmpayment_mysql4</resourceModel>
      </confirmpayment>
      <confirmpayment_mysql4>
        <class>Magebuzz_Confirmpayment_Model_Mysql4</class>
        <entities>
          <cpform>
            <table>cp_form_submit</table>
          </cpform>
        </entities>
      </confirmpayment_mysql4>
    </models>
    <resources>
      <confirmpayment_setup>
        <setup>
          <module>Magebuzz_Confirmpayment</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </confirmpayment_setup>
      <confirmpayment_write>
        <connection>
          <use>core_write</use>
        </connection>
      </confirmpayment_write>
      <confirmpayment_read>
        <connection>
          <use>core_read</use>
        </connection>
      </confirmpayment_read>
    </resources>
    <template>
      <email>
        <confirmpayment_info_email_template translate="label" module="confirmpayment">
          <label>Confirm Payment Email</label>
          <file>confirmpayment/cpform.html</file>
          <type>html</type>
        </confirmpayment_info_email_template>
      </email>
    </template>
    <blocks>
      <confirmpayment>
        <class>Magebuzz_Confirmpayment_Block</class>
      </confirmpayment>
    </blocks>
    <helpers>
      <confirmpayment>
        <class>Magebuzz_Confirmpayment_Helper</class>
      </confirmpayment>
    </helpers>
  </global>
</config>