<?xml version="1.0"?>
<config>
    <modules>
        <Marginframe_Shippop>
            <version>0.1.0</version>
        </Marginframe_Shippop>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules><Marginframe_Shippop after="Mage_Adminhtml">Marginframe_Shippop_Adminhtml</Marginframe_Shippop></modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>     
        <layout>
            <updates>
                <shippop>
                    <file>shippop.xml</file>
                </shippop>
            </updates>
        </layout>
    </adminhtml>
    <global>
    	<models>
    		<shippop>
    			<class>Marginframe_Shippop_Model</class>
                <resourceModel>shippop_mysql4</resourceModel>
    		</shippop>
            <shippop_mysql4>
                <class>Marginframe_Shippop_Model_Mysql4</class>
                <entities>
                    <shippop>
                        <table>shippop</table>
                    </shippop>
                </entities>
            </shippop_mysql4>
    	</models>
        <resources>
            <shippop_setup>
                <setup>
                    <module>Marginframe_Shippop</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </shippop_setup>
            <shippop_write>
                <connection>
                    <use>local_write</use>
                </connection>
            </shippop_write>
            <shippop_read>
                <connection>
                    <use>local_read</use>
                </connection>
            </shippop_read>
        </resources>
        <blocks>
            <shippop>
                <class>Marginframe_Shippop_Block</class>
            </shippop>
        </blocks>
    	<helpers>
            <shippop>
                <class>Marginframe_Shippop_Helper</class>
            </shippop>
        </helpers>
    </global>
    <frontend>
        <routers>
            <shippop>
                <use>standard</use>
                <args>
                    <module>Marginframe_Shippop</module>
                    <frontName>shippop</frontName>
                </args>
            </shippop>
        </routers>
    </frontend>
    
</config>
