<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Crystal_Campaignmanage>
            <version>1.2.7</version>
        </Crystal_Campaignmanage>
    </modules>
    <global>
        <resources>
            <campaignmanage_setup>
                <setup>
                    <module>Crystal_Campaignmanage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </campaignmanage_setup>
            <campaignmanage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </campaignmanage_write>
            <campaignmanage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </campaignmanage_read>
        </resources>
        <blocks>
            <campaignmanage>
                <class>Crystal_Campaignmanage_Block</class>
            </campaignmanage>
        </blocks>
        <helpers>
            <campaignmanage>
                <class>Crystal_Campaignmanage_Helper</class>
            </campaignmanage>
        </helpers>
        <models>
            <campaignmanage>
                <class>Crystal_Campaignmanage_Model</class>
                <resourceModel>campaignmanage_resource</resourceModel>
            </campaignmanage>
            <campaignmanage_resource>
                <class>Crystal_Campaignmanage_Model_Resource</class>
                <entities>
                    <campaign>
                        <table>campaign</table>
                    </campaign>
                    <queue>
                        <table>campaign_subcribe_customer</table>
                    </queue>
                    <products>
                        <table>campaign_products</table>
                    </products>
                    <raffle>
                        <table>campaign_subcribe_customer_raffle</table>
                    </raffle>
                    <campaignonline>
                        <table>campaign_raffle_online</table>
                    </campaignonline>
                    <raffleonline>
                        <table>campaign_raffle_online_subcrible</table>
                    </raffleonline>
                    <onlineproduct>
                        <table>campaign_raffle_online_products</table>
                    </onlineproduct>
                    <cropanddrop>
                        <table>campaign_crop_and_drop</table>
                    </cropanddrop>
                </entities>
            </campaignmanage_resource>
        </models>
        <events>
            <catalog_product_get_final_price>
                <observers>
                    <catalogrule>
                        <class>catalogrule/observer</class>
                        <method>processFrontFinalPrice</method>
                    </catalogrule>
                </observers>
            </catalog_product_get_final_price>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <campaignmanage before="Mage_Adminhtml">Crystal_Campaignmanage_Adminhtml</campaignmanage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <campaignmanage>
                    <file>campaignmanage.xml</file>
                </campaignmanage>
            </updates>
        </layout>
    </adminhtml>
</config>
