<?xml version="1.0"?>
<config>
    <!-- Emplement Cron Job For Module -->
    <!--<crontab>
      <jobs>
        <name_cron_job>
          <schedule><cron_expr>* * * * *</cron_expr></schedule>
          <run><model>membergroup/cron::staticMethod</model></run>
        </name_cron_job>
      </jobs>
    </crontab>-->
    <modules>
        <Magebuzz_Membergroup>
            <version>0.1.1</version>
        </Magebuzz_Membergroup>
    </modules>
    <frontend>
        <secure_url>
            <membergroup>/membergroup/</membergroup>
        </secure_url>
        <routers>
            <membergroup>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Membergroup</module>
                    <frontName>membergroup</frontName>
                </args>
            </membergroup>
        </routers>
        <layout>
            <updates>
                <membergroup>
                    <file>membergroup.xml</file>
                </membergroup>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <membergroup>
                <use>admin</use>
                <args>
                    <module>Magebuzz_Membergroup</module>
                    <frontName>membergroup</frontName>
                </args>
            </membergroup>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <membergroup>
                    <file>membergroup.xml</file>
                </membergroup>
            </updates>
        </layout>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <membergroup_save_check_group_customer>
                        <type>singleton</type>
                        <class>Magebuzz_Membergroup_Model_Observer</class>
                        <method>changeGroupCustomer</method>
                    </membergroup_save_check_group_customer>
                </observers>
            </adminhtml_customer_save_after>
        </events>
    </adminhtml>
    <global>
        <models>
            <membergroup>
                <class>Magebuzz_Membergroup_Model</class>
                <resourceModel>membergroup_mysql4</resourceModel>
            </membergroup>
            <membergroup_mysql4>
                <class>Magebuzz_Membergroup_Model_Mysql4</class>
                <entities>
                    <membergroup>
                        <table>membergroup</table>
                    </membergroup>
                </entities>
            </membergroup_mysql4>
        </models>
        <resources>
            <membergroup_setup>
                <setup>
                    <module>Magebuzz_Membergroup</module>
                    <class>Mage_customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </membergroup_setup>
            <membergroup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </membergroup_write>
            <membergroup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </membergroup_read>
        </resources>
        <blocks>
            <membergroup>
                <class>Magebuzz_Membergroup_Block</class>
            </membergroup>
            <!--Emplement Rewrite Block In Module-->
            <!--<target_module>
                    <rewrite>
                        <path_to>Magebuzz_Membergroup_Block_Example</path_to>
                    </rewrite>
                </target_module>-->
        </blocks>
        <helpers>
            <membergroup>
                <class>Magebuzz_Membergroup_Helper</class>
            </membergroup>
        </helpers>
        <events>
            <sales_order_save_after>
                <observers>
                    <membergroup_check_order>
                        <type>singleton</type>
                        <class>Magebuzz_Membergroup_Model_Observer</class>
                        <method>checkTotalOrderCustomer</method>
                    </membergroup_check_order>
                </observers>
            </sales_order_save_after>
        </events>
        <template>
            <email>
                <membergroup_notifyadmin_emailtemplate>
                    <label>Email Notify New Member Need Approve</label>
                    <file>new_member_need_approve.html</file>
                    <type>html</type>
                </membergroup_notifyadmin_emailtemplate>
                <membergroup_notifycustomer_template>
                    <label>Email Notify After Admin Approved</label>
                    <file>member_approved.html</file>
                    <type>html</type>
                </membergroup_notifycustomer_template>
            </email>
        </template>
    </global>
    <!--Set Default Value For Setting Options-->
    <default>
        <membergroup>
            <general>
                <minimum_number>8000</minimum_number>
                <expire_days>720</expire_days>
                <before_expire_days>90</before_expire_days>
                <before_expire_days_grand_total>3000</before_expire_days_grand_total>
                <vip_member_id>4</vip_member_id>
            </general>
        </membergroup>
    </default>
    <translate>
        <modules>
            <Magebuzz_Membergroup>
                <files>
                    <default>Magebuzz_Membergroup.csv</default>
                </files>
            </Magebuzz_Membergroup>
        </modules>
    </translate>
</config>