<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Imagehome>
            <version>0.1.2</version>
        </Magebuzz_Imagehome>
    </modules>
    <frontend>
        <routers>
            <imagehome>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Imagehome</module>
                    <frontName>imagehome</frontName>
                </args>
            </imagehome>
        </routers>
        <layout>
            <updates>
                <imagehome>
                    <file>imagehome.xml</file>
                </imagehome>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magebuzz_Imagehome>
                    <files>
                        <default>Magebuzz_Imagehome.csv</default>
                    </files>
                </Magebuzz_Imagehome>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <imagehome>
                <use>admin</use>
                <args>
                    <module>Magebuzz_Imagehome</module>
                    <frontName>imagehome</frontName>
                </args>
            </imagehome>
        </routers>
    </admin>
    <adminhtml>		
        <layout>
            <updates>
                <imagehome>
                    <file>imagehome.xml</file>
                </imagehome>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magebuzz_Imagehome>
                    <files>
                        <default>Magebuzz_Imagehome.csv</default>
                    </files>
                </Magebuzz_Imagehome>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <imagehome>
                <class>Magebuzz_Imagehome_Model</class>
                <resourceModel>imagehome_mysql4</resourceModel>
            </imagehome>
            <imagehome_mysql4>
                <class>Magebuzz_Imagehome_Model_Mysql4</class>
                <entities>
                    <imagehome>
                        <table>imagehome</table>
                    </imagehome>
                </entities>
            </imagehome_mysql4>
        </models>
        <resources>
            <imagehome_setup>
                <setup>
                    <module>Magebuzz_Imagehome</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imagehome_setup>
            <imagehome_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imagehome_write>
            <imagehome_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imagehome_read>
        </resources>
        <blocks>
            <imagehome>
                <class>Magebuzz_Imagehome_Block</class>
            </imagehome>
        </blocks>
        <helpers>
            <imagehome>
                <class>Magebuzz_Imagehome_Helper</class>
            </imagehome>
        </helpers>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <imagehome_observer>
                        <class>imagehome/observer</class>
                        <method>changeWidgetTemplate</method>
                    </imagehome_observer>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </global>
    <!--<stores>
        <admin>
            <dev>
                <debug>
                    <template_hints>1</template_hints>
                    <template_hints_blocks>1</template_hints_blocks>
                </debug>
            </dev>
        </admin>
    </stores> 
    <stores>
        <admin>
            <design>
                <theme>
                    <default>default</default>
                </theme>
            </design>
        </admin>
    </stores>-->
</config>
