<?xml version="1.0"?>
<config>
    <modules>
        <MagentoMasters_MasterCheckout>
            <version>0.0.1</version>
        </MagentoMasters_MasterCheckout>
    </modules>

    <global>
        <blocks>
            <mastercheckout>
                <class>MagentoMasters_MasterCheckout_Block</class>
            </mastercheckout>
            <checkout>
                <rewrite>
                    <onepage_review_info>MagentoMasters_MasterCheckout_Block_Info</onepage_review_info>
                  <onepage_billing>MagentoMasters_MasterCheckout_Block_Checkout_Onepage_Billing</onepage_billing>
                  <onepage_shipping>MagentoMasters_MasterCheckout_Block_Checkout_Onepage_Shipping</onepage_shipping>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <mastercheckout>
                <class>MagentoMasters_MasterCheckout_Model</class>
            </mastercheckout>
        </models>
        <helpers>
            <mastercheckout>
                <class>MagentoMasters_MasterCheckout_Helper</class>
            </mastercheckout>
        </helpers>
        <rewrite>
            <magentomasters_mastercheckout_onepage_index>
                <from><![CDATA[#^/checkout/onepage/$#]]></from>
                <to>/mastercheckout/redirect/</to>
            </magentomasters_mastercheckout_onepage_index>
        </rewrite>
    </global>

    <frontend>
      <routers>
        <mastercheckout>
          <use>standard</use>
          <args>
            <module>MagentoMasters_MasterCheckout</module>
            <frontName>mastercheckout</frontName>
          </args>
        </mastercheckout>
        <checkout>
          <args>
            <modules>
              <magentomasters_mastercheckout before="Mage_Checkout">MagentoMasters_MasterCheckout</magentomasters_mastercheckout>
            </modules>
          </args>
        </checkout>
        <customer>
          <args>
            <modules>
              <magentomasters_mastercheckout before="Mage_Customer">MagentoMasters_MasterCheckout</magentomasters_mastercheckout>
            </modules>
          </args>
        </customer>
      </routers>
        <translate>
            <modules>
                <MagentoMasters_MasterCheckout>
                     <files>
                          <default>MagentoMasters_MasterCheckout.csv</default>
                     </files>
                </MagentoMasters_MasterCheckout>
            </modules>
        </translate>
        <layout>
             <updates>
                  <mastercheckout>
                        <file>mastercheckout.xml</file>
                  </mastercheckout>
             </updates>
        </layout>
    </frontend>

    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mastercheckout>
                                            <title>MasterCheckout</title>
                                        </mastercheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>