<?xml version="1.0"?>
<config>
  <modules>
    <Crystal_FeaturePage>
      <version>0.3.0</version>
    </Crystal_FeaturePage>
  </modules>
  <global>
    <resources>
      <featurepage_setup>
        <setup>
          <module>Crystal_FeaturePage</module>
          <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </featurepage_setup>
    </resources>
    <blocks>
      <featurepage>
        <class>Crystal_FeaturePage_Block</class>
      </featurepage>
    </blocks>
    <helpers>
      <featurepage>
        <class>Crystal_FeaturePage_Helper</class>
      </featurepage>
    </helpers>
    <models>
      <featurepage>
        <class>Crystal_FeaturePage_Model</class>
      </featurepage>
    </models>
  </global>
  <default>
    <mobile_configuration>
      <block1>
        <type>banner</type>
      </block1>
      <block2>
        <type>banner</type>
      </block2>
      <block3>
        <type>banner</type>
      </block3>
      <block4>
        <type>banner</type>
      </block4>
      <block5>
        <type>banner</type>
      </block5>
      <block6>
        <type>upcoming</type>
      </block6>
      <block7>
        <type>category</type>
      </block7>
      <block8>
        <type>banner</type>
      </block8>
      <block9>
        <type>category</type>
      </block9>
      <block10>
        <type>banner</type>
      </block10>
      <block11>
        <type>banner</type>
      </block11>
      <block12>
        <type>highlight_brand</type>
      </block12>
      <block13>
        <type>category</type>
      </block13>
      <block14>
        <type>banner</type>
      </block14>
      <block15>
        <type>category</type>
      </block15>
      <block16>
        <type>banner</type>
      </block16>
      <block17>
        <type>category</type>
      </block17>
      <block18>
        <type>upcoming</type>
      </block18>
      <block19>
        <type>upcoming</type>
      </block19>
    </mobile_configuration>
  </default>
</config> 
