<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Bannerads>
      <version>0.1.9</version>
    </Magebuzz_Bannerads>
  </modules>
  <frontend>
    <routers>
      <bannerads>
        <use>standard</use>
        <args>
          <module>Magebuzz_Bannerads</module>
          <frontName>bannerads</frontName>
        </args>
      </bannerads>
    </routers>
    <layout>
      <updates>
        <bannerads>
          <file>bannerads.xml</file>
        </bannerads>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Bannerads>
          <files>
            <default>Magebuzz_Bannerads.csv</default>
          </files>
        </Magebuzz_Bannerads>
      </modules>
    </translate>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <use>admin</use>
        <args>
          <modules><Magebuzz_Bannerads after="Mage_Adminhtml">Magebuzz_Bannerads_Adminhtml</Magebuzz_Bannerads></modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <bannerads>
          <file>bannerads.xml</file>
        </bannerads>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Bannerads>
          <files>
            <default>Magebuzz_Bannerads.csv</default>
          </files>
        </Magebuzz_Bannerads>
      </modules>
    </translate>
  </adminhtml>
  <global>
    <models>
      <bannerads>
        <class>Magebuzz_Bannerads_Model</class>
        <resourceModel>bannerads_mysql4</resourceModel>
      </bannerads>
      <bannerads_mysql4>
        <class>Magebuzz_Bannerads_Model_Mysql4</class>
        <entities>
          <bannerads>
            <table>bannerads_blocks</table>
          </bannerads>
          <banneradsstore>
            <table>bannerads_blocks_store</table>
          </banneradsstore>
          <images>
            <table>bannerads_images</table>
          </images>
          <bannerblock>
            <table>bannerads_block_image_entity</table>
          </bannerblock>
          <reports>
            <table>bannerads_reports</table>
          </reports>
					<bannerads_category>
					<table>bannerads_category</table>
				</bannerads_category>
        </entities>
      </bannerads_mysql4>
    </models>
    <resources>
      <bannerads_setup>
        <setup>
          <module>Magebuzz_Bannerads</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </bannerads_setup>
      <bannerads_write>
        <connection>
          <use>core_write</use>
        </connection>
      </bannerads_write>
      <bannerads_read>
        <connection>
          <use>core_read</use>
        </connection>
      </bannerads_read>
    </resources>
    <blocks>
      <bannerads>
        <class>Magebuzz_Bannerads_Block</class>
      </bannerads>
    </blocks>
    <helpers>
      <bannerads>
        <class>Magebuzz_Bannerads_Helper</class>
      </bannerads>
    </helpers>
    <template>
      <email>
        <bannerads_general_email_template>
          <label>Title Email</label>
          <file>bannerads_example.html</file>
          <type>html</type>
        </bannerads_general_email_template>
      </email>
    </template>
  </global>
  <default>
    <bannerads>
      <general>
        <enable>1</enable>
        <include_js>1</include_js>
				<enable_report>0</enable_report>
      </general>
      <display_setting>
        <is_show_paging>1</is_show_paging>
        <transition_speed>1</transition_speed>
      </display_setting>
    </bannerads>
  </default>
</config>