<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Bubble_DynamicCategory>
            <version>2.0.0</version>
        </Bubble_DynamicCategory>
    </modules>
    <global>
        <resources>
            <bubble_dynamiccategory_setup>
                <setup>
                    <module>Bubble_DynamicCategory</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </bubble_dynamiccategory_setup>
        </resources>
        <blocks>
            <dynamic_category>
                <class>Bubble_DynamicCategory_Block</class>
            </dynamic_category>
            <adminhtml>
                <rewrite>
                    <catalog_category_tree>Bubble_DynamicCategory_Block_Adminhtml_Category_Tree</catalog_category_tree>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <dynamic_category>
                <class>Bubble_DynamicCategory_Helper</class>
            </dynamic_category>
        </helpers>
        <models>
            <dynamic_category>
                <class>Bubble_DynamicCategory_Model</class>
            </dynamic_category>
        </models>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <dynamic_category>
                        <class>dynamic_category/observer</class>
                        <method>onBlockHtmlAfter</method>
                    </dynamic_category>
                </observers>
            </core_block_abstract_to_html_after>
            <catalog_category_prepare_save>
                <observers>
                    <dynamic_category>
                        <class>dynamic_category/observer</class>
                        <method>onCatalogCategoryPrepareSave</method>
                    </dynamic_category>
                </observers>
            </catalog_category_prepare_save>
            <controller_action_predispatch_adminhtml_catalog_category_edit>
                <observers>
                    <dynamic_category>
                        <class>dynamic_category/observer</class>
                        <method>onPredispatchCategoryEdit</method>
                    </dynamic_category>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_category_edit>
            <adminhtml_block_html_before>
                <observers>
                    <dynamic_category>
                        <class>dynamic_category/observer</class>
                        <method>onAdminBlockHtmlBefore</method>
                    </dynamic_category>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <translate>
            <modules>
                <Bubble_DynamicCategory>
                    <files>
                        <default>Bubble_DynamicCategory.csv</default>
                    </files>
                </Bubble_DynamicCategory>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bubble_DynamicCategory before="Mage_Adminhtml">Bubble_DynamicCategory_Adminhtml</Bubble_DynamicCategory>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <dynamic_category>
            <general>
                <enable_reindex>1</enable_reindex>
                <reindex_delay>24</reindex_delay>
                <enable_reindex_log>0</enable_reindex_log>
            </general>
        </dynamic_category>
    </default>
    <crontab>
        <jobs>
            <dynamic_category_reindex_all>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>dynamic_category/observer::reindexAll</model>
                </run>
            </dynamic_category_reindex_all>
        </jobs>
    </crontab>
</config>