<?xml version="1.0"?>
<config>
	<modules>
		<Magebuzz_Customaddress>
			<version>0.1.4</version>
		</Magebuzz_Customaddress>
	</modules>
	<frontend>
		<routers>
			<customaddress>
				<use>standard</use>
				<args>
					<module>Magebuzz_Customaddress</module>
					<frontName>customaddress</frontName>
				</args>
			</customaddress>
		</routers>
		<layout>
			<updates>
				<customaddress>
					<file>customaddress.xml</file>
				</customaddress>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Customaddress>
					<files>
						<default>Magebuzz_Customaddress.csv</default>
					</files>
				</Magebuzz_Customaddress>
			</modules>
		</translate>
		<events>
			<customer_address_save_before>
				<observers>
					<customaddress_address_save_before>
						<type>singleton</type>
						<class>customaddress/observer</class>
						<method>addressSaveBefore</method>
					</customaddress_address_save_before>
				</observers>
			</customer_address_save_before>
		</events>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Magebuzz_Customaddress before="Mage_Adminhtml">Magebuzz_Customaddress_Adminhtml</Magebuzz_Customaddress>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
  <adminhtml>		
		<layout>
			<updates>
				<customaddress>
					<file>customaddress.xml</file>
				</customaddress>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Customaddress>
					<files>
						<default>Magebuzz_Customaddress.csv</default>
					</files>
				</Magebuzz_Customaddress>
			</modules>
		</translate>
  </adminhtml>   
	<global>
		<models>
			<customaddress>
				<class>Magebuzz_Customaddress_Model</class>
				<resourceModel>customaddress_mysql4</resourceModel>
			</customaddress>
			<customaddress_mysql4>
				<class>Magebuzz_Customaddress_Model_Mysql4</class>
				<entities>
					<region>
						<table>directory_country_region</table>
					</region>
					<city>
						<table>directory_region_city</table>
					</city>
					<subdistrict>
						<table>directory_city_subdistrict</table>
					</subdistrict>
					<region_city_name>
						<table>directory_region_city_name</table>
					</region_city_name>
					<city_subdistrict_name>
						<table>directory_city_subdistrict_name</table>
					</city_subdistrict_name>
				</entities>
			</customaddress_mysql4>
		</models>
		<resources>
			<customaddress_setup>
				<setup>
					<module>Magebuzz_Customaddress</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</customaddress_setup>
			<customaddress_write>
				<connection>
					<use>core_write</use>
				</connection>
			</customaddress_write>
			<customaddress_read>
				<connection>
					<use>core_read</use>
				</connection>
			</customaddress_read>
		</resources>
		<blocks>
			<customaddress>
				<class>Magebuzz_Customaddress_Block</class>
			</customaddress>
			<adminhtml>
				<rewrite>
					<customer_edit_tab_addresses>Magebuzz_Customaddress_Block_Adminhtml_Customer_Edit_Tab_Addresses</customer_edit_tab_addresses>
					<sales_order_create_billing_address>Magebuzz_Customaddress_Block_Adminhtml_Sales_Order_Create_Billing_Address</sales_order_create_billing_address>
					<sales_order_create_shipping_address>Magebuzz_Customaddress_Block_Adminhtml_Sales_Order_Create_Shipping_Address</sales_order_create_shipping_address>
          <sales_order_address_form>Magebuzz_Customaddress_Block_Adminhtml_Sales_Order_Address_Form</sales_order_address_form>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<customaddress>
				<class>Magebuzz_Customaddress_Helper</class>
			</customaddress>
		</helpers>
		<fieldsets>
			<customer_address>
				<city_id>
					<to_quote_address>*</to_quote_address>
				</city_id>
				<subdistrict_id>
					<to_quote_address>*</to_quote_address>
				</subdistrict_id>
				<subdistrict>
					<to_quote_address>*</to_quote_address>
				</subdistrict>
			</customer_address>
			<sales_convert_quote_address>
				<city_id>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</city_id>
				<subdistrict_id>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</subdistrict_id>	
				<subdistrict>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</subdistrict>								
			</sales_convert_quote_address>
			<sales_convert_order_address>
				<city_id>
					<to_quote_address>*</to_quote_address>
				</city_id>
				<subdistrict_id>
					<to_quote_address>*</to_quote_address>
				</subdistrict_id>
				<subdistrict>
					<to_quote_address>*</to_quote_address>
				</subdistrict>
			</sales_convert_order_address>
			<sales_copy_order_billing_address>
				<city_id>
					<to_order>*</to_order>
				</city_id>
				<subdistrict_id>
					<to_order>*</to_order>
				</subdistrict_id>
				<subdistrict>
					<to_order>*</to_order>
				</subdistrict>
			</sales_copy_order_billing_address>
			<sales_copy_order_shipping_address>
				<city_id>
					<to_order>*</to_order>
				</city_id>
				<subdistrict_id>
					<to_order>*</to_order>
				</subdistrict_id>
				<subdistrict>
					<to_order>*</to_order>
				</subdistrict>
			</sales_copy_order_shipping_address>
    </fieldsets>
		<events>
			<customer_address_format>
				<observers>
					<customaddress_customer_address_format>
						<type>model</type>
						<class>customaddress/observer</class>
						<method>addAdditionalDataToAddress</method>
					</customaddress_customer_address_format>
				</observers>
			</customer_address_format>
		</events>
	</global>
	<default>
		<customaddress>
			<general>
				<enable_module>1</enable_module>
			</general>
		</customaddress>
	</default>
</config>