<?xml version="1.0"?>
<config>
    <modules>
        <Cybersource_Cybersource>
            <version>1.0.0</version>
        </Cybersource_Cybersource>
    </modules>
    <global>
        <models>
            <cybersource_core>
                <class>Cybersource_Cybersource_Model_Core</class>
            </cybersource_core>
            <cybersourcesop>
                <class>Cybersource_Cybersource_Model_SOPWebMobile</class>
                <resourceModel>cybersourcesop_resource</resourceModel>
            </cybersourcesop>
            <cybersourcesop_resource>
                <class>Cybersource_Cybersource_Model_SOPWebMobile_Resource</class>
                <entities>
                    <cybersourcesop>
                        <table>cybersourcesop</table>
                    </cybersourcesop>
                    <token>
                        <table>cybersourcesop_token</table>
                    </token>
                </entities>
            </cybersourcesop_resource>
            <cybersourcepaypal>
                <class>Cybersource_Cybersource_Model_Paypal</class>
            </cybersourcepaypal>
            <cybersourcevisacheckout>
                <class>Cybersource_Cybersource_Model_VisaCheckout</class>
            </cybersourcevisacheckout>
            <cybersourcebanktransfer>
                <class>Cybersource_Cybersource_Model_BankTransfer</class>
            </cybersourcebanktransfer>
            <cybersourceapplepay>
                <class>Cybersource_Cybersource_Model_ApplePay</class>
            </cybersourceapplepay>
            <cybersource_atp>
                <class>Cybersource_Cybersource_Model_Atp</class>
            </cybersource_atp>
            <cybersource_taxservices>
                <class>Cybersource_Cybersource_Model_TaxServices</class>
                <resourceModel>cybersource_taxservices_resource</resourceModel>
            </cybersource_taxservices>
            <cybersource_taxservices_resource>
                <class>Cybersource_Cybersource_Model_TaxServices_Resource</class>
            </cybersource_taxservices_resource>
            <tax>
                <rewrite>
                    <calculation>Cybersource_Cybersource_Model_TaxServices_Calculation</calculation>
                </rewrite>
            </tax>
        </models>
        <blocks>
            <cybersource_core>
                <class>Cybersource_Cybersource_Block_Core</class>
            </cybersource_core>
            <cybersourcesop>
                <class>Cybersource_Cybersource_Block_SOPWebMobile</class>
            </cybersourcesop>
            <cybersourcepaypal>
                <class>Cybersource_Cybersource_Block_Paypal</class>
            </cybersourcepaypal>
            <cybersourcevisacheckout>
                <class>Cybersource_Cybersource_Block_VisaCheckout</class>
            </cybersourcevisacheckout>
            <cybersourcebanktransfer>
                <class>Cybersource_Cybersource_Block_BankTransfer</class>
            </cybersourcebanktransfer>
            <cybersourceapplepay>
                <class>Cybersource_Cybersource_Block_ApplePay</class>
            </cybersourceapplepay>
            <cybersource_atp>
                <class>Cybersource_Cybersource_Block_Atp</class>
            </cybersource_atp>
            <cybersource_taxservices>
                <class>Cybersource_Cybersource_Block_TaxServices</class>
            </cybersource_taxservices>
            <checkout>
                <rewrite>
                    <cart_shipping>Cybersource_Cybersource_Block_TaxServices_Cart_Shipping</cart_shipping>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <tax_class_grid>Cybersource_Cybersource_Block_TaxServices_Adminhtml_Tax_Class_Grid</tax_class_grid>
                    <tax_class_edit_form>Cybersource_Cybersource_Block_TaxServices_Adminhtml_Tax_Class_Edit_Form</tax_class_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <cybersource_cybersource>
                <class>Cybersource_Cybersource_Helper</class>
            </cybersource_cybersource>
            <cybersource_core>
                <class>Cybersource_Cybersource_Helper_Core</class>
            </cybersource_core>
            <cybersourcesop>
                <class>Cybersource_Cybersource_Helper_SOPWebMobile</class>
            </cybersourcesop>
            <cybersourcepaypal>
                <class>Cybersource_Cybersource_Helper_Paypal</class>
            </cybersourcepaypal>
            <cybersourcevisacheckout>
                <class>Cybersource_Cybersource_Helper_VisaCheckout</class>
            </cybersourcevisacheckout>
            <cybersourcebanktransfer>
                <class>Cybersource_Cybersource_Helper_BankTransfer</class>
            </cybersourcebanktransfer>
            <cybersourceapplepay>
                <class>Cybersource_Cybersource_Helper_ApplePay</class>
            </cybersourceapplepay>
            <cybersource_atp>
                <class>Cybersource_Cybersource_Helper_Atp</class>
            </cybersource_atp>
            <cybersource_taxservices>
                <class>Cybersource_Cybersource_Helper_TaxServices</class>
            </cybersource_taxservices>
        </helpers>
        <resources>
            <cybersource_cybersource_setup>
                <setup>
                    <module>Cybersource_Cybersource</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cybersource_cybersource_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <cybersource_vc_order_id>
                    <to_order_payment>*</to_order_payment>
                </cybersource_vc_order_id>
                <cybersource_vc_authorize_id>
                    <to_order_payment>*</to_order_payment>
                </cybersource_vc_authorize_id>
                <cybersource_vc_capture_id>
                    <to_order_payment>*</to_order_payment>
                </cybersource_vc_capture_id>
            </sales_convert_quote_payment>
        </fieldsets>
        <cache>
            <types>
                <cybersource module="Cybersource_Cybersource" translate="label description">
                    <label>CyberSource</label>
                    <description>Cached CyberSource data.</description>
                    <tags>CS_DATA</tags>
                </cybersource>
            </types>
        </cache>
        <payment>
            <cc>
                <types>
                    <VID>
                        <code>VID</code>
                        <name>Visa Debit</name>
                        <order>51</order>
                    </VID>
                    <MAEUK>
                        <code>MAEUK</code>
                        <name>Maestro (UK Domestic) / Switch</name>
                        <order>61</order>
                    </MAEUK>
                    <MAE>
                        <code>MAE</code>
                        <name>Maestro (International)</name>
                        <order>61</order>
                    </MAE>
                    <DC>
                        <code>DC</code>
                        <name>Diners Club</name>
                        <order>63</order>
                    </DC>
                </types>
            </cc>
        </payment>
    </global>
    <frontend>
        <routers>
            <cybersource>
                <use>standard</use>
                <args>
                    <module>Cybersource_Cybersource</module>
                    <frontName>cybersource</frontName>
                </args>
            </cybersource>
        </routers>
        <translate>
            <modules>
                <Cybersource_Cybersource>
                    <files>
                        <default>Cybersource_Cybersource.csv</default>
                    </files>
                </Cybersource_Cybersource>
            </modules>
        </translate>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <cybersource_atp_controller_action_postdispatch>
                        <class>cybersource_atp/observer</class>
                        <method>observeControllerActionPostdispatch</method>
                    </cybersource_atp_controller_action_postdispatch>
                </observers>
            </controller_action_postdispatch>
            <cybersource_atp_login_reject>
                <observers>
                    <cybersource_atpexample_login_reject>
                        <class>cybersource_atp/observer</class>
                        <method>observeLoginRejected</method>
                    </cybersource_atpexample_login_reject>
                </observers>
            </cybersource_atp_login_reject>
            <cybersource_atp_account_creation_reject>
                <observers>
                    <cybersource_atpexample_account_update_reject>
                        <class>cybersource_atp/observer</class>
                        <method>observeUpdateRejected</method>
                    </cybersource_atpexample_account_update_reject>
                </observers>
            </cybersource_atp_account_creation_reject>
            <cybersource_atp_account_update_reject>
                <observers>
                    <cybersource_atpexample_account_update_reject>
                        <class>cybersource_atp/observer</class>
                        <method>observeUpdateRejected</method>
                    </cybersource_atpexample_account_update_reject>
                </observers>
            </cybersource_atp_account_update_reject>
            <customer_customer_authenticated>
                <observers>
                    <cybersource_atp_login>
                        <class>cybersource_atp/observer</class>
                        <method>observeLogin</method>
                    </cybersource_atp_login>
                </observers>
            </customer_customer_authenticated>
            <customer_save_before>
                <observers>
                    <cybersource_atp_update>
                        <class>cybersource_atp/observer</class>
                        <method>observeUpdate</method>
                    </cybersource_atp_update>
                    <cybersource_atp_create>
                        <class>cybersource_atp/observer</class>
                        <method>observeCreate</method>
                    </cybersource_atp_create>
                </observers>
            </customer_save_before>
        </events>
        <layout>
            <updates>
                <cybersource_core>
                    <file>cybersource/core.xml</file>
                </cybersource_core>
                <cybersource_sopwebmobile>
                    <file>cybersource/sop.xml</file>
                </cybersource_sopwebmobile>
                <cybersource_visacheckout>
                    <file>cybersource/visacheckout.xml</file>
                </cybersource_visacheckout>
                <cybersource_banktransfer>
                    <file>cybersource/bt.xml</file>
                </cybersource_banktransfer>
                <cybersource_applepay>
                    <file>cybersource/applepay.xml</file>
                </cybersource_applepay>
                <cybersource_atp>
                    <file>cybersource/atp.xml</file>
                </cybersource_atp>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <cybersource_sopwebmobile>
                    <file>cybersource.xml</file>
                </cybersource_sopwebmobile>
            ‌​</updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <cybersource_conversion_report_process>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cybersource_core/cron_conversionReport::execute</model>
                </run>
            </cybersource_conversion_report_process>
            <cybersourcesop_update_pending_review_echeck_orders>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cybersourcesop/cron_status_echeck::execute</model>
                </run>
            </cybersourcesop_update_pending_review_echeck_orders>
            <cybersourcebanktransfer_payment_statuscheck>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cybersourcebanktransfer/cron_status_banktransfer::execute</model>
                </run>
            </cybersourcebanktransfer_payment_statuscheck>
        </jobs>
    </crontab>
    <default>
        <payment>
            <cybersourcecore>
                <test>1</test>
                <dm_enabled>0</dm_enabled>
                <mdd_enabled>0</mdd_enabled>
                <report_enabled>0</report_enabled>
                <report_test>1</report_test>
                <report_log>1</report_log>
                <device_fingerprint_enabled>0</device_fingerprint_enabled>
                <device_fingerprint_url>https://h.online-metrix.net/fp/</device_fingerprint_url>
                <report_test_url>https://ebctest.cybersource.com/ebctest/ConversionDetailReportRequest.do</report_test_url>
                <report_live_url>https://ebc.cybersource.com/ebc/ConversionDetailReportRequest.do</report_live_url>
                <wsdl_test_url>https://ics2wstest.ic3.com/commerce/1.x/transactionProcessor/CyberSourceTransaction_1.142.wsdl</wsdl_test_url>
                <wsdl_live_url>https://ics2ws.ic3.com/commerce/1.x/transactionProcessor/CyberSourceTransaction_1.142.wsdl</wsdl_live_url>
                <avs_active>0</avs_active>
                <avs_force_normal>0</avs_force_normal>
            </cybersourcecore>
            <cybersourcesop>
                <active>0</active>
                <model>cybersourcesop/payment_cc</model>
                <title>CyberSource Credit Card</title>
                <mobile_enabled>0</mobile_enabled>
                <useccv>1</useccv>
                <forceavs>0</forceavs>
                <forcecvn>0</forcecvn>
                <default_currency>0</default_currency>
                <order_status>processing</order_status>
                <force3dsecure>0</force3dsecure>
                <debug>0</debug>
                <enable_tokenisation>0</enable_tokenisation>
                <forceavs_codes>B,D,M,P,U,A,F,H,J,K,L,O,Q,T,V,W,X,Y,Z,3,1</forceavs_codes>
                <forcecvn_codes>M,U,X,1,2,N</forcecvn_codes>
            </cybersourcesop>
            <cybersourceecheck>
                <active>0</active>
                <model>cybersourcesop/payment_echeck</model>
                <order_status>pending</order_status>
                <title>CyberSource ECheck</title>
                <allowspecific>0</allowspecific>
                <payment_action>authorize_capture</payment_action>
            </cybersourceecheck>
            <cybersourcepaypal>
                <active>0</active>
                <model>cybersourcepaypal/paypal</model>
                <order_status>processing</order_status>
                <title>CyberSource PayPal Express</title>
                <sort_order>4000</sort_order>
            </cybersourcepaypal>
            <cybersourcevisacheckout>
                <active>0</active>
                <title>CyberSource Visa Checkout</title>
                <model>cybersourcevisacheckout/pay</model>
                <order_status>processing</order_status>
                <sort_order>5000</sort_order>
            </cybersourcevisacheckout>
            <csbtgeneral>
                <wsdl_test_url>https://ics2wstest.ic3.com/commerce/1.x/transactionProcessor/CyberSourceTransaction_1.142.wsdl</wsdl_test_url>
                <wsdl_live_url>https://ics2ws.ic3.com/commerce/1.x/transactionProcessor/CyberSourceTransaction_1.142.wsdl</wsdl_live_url>
            </csbtgeneral>
            <csbtbancontact>
                <active>0</active>
                <title>CyberSource Bank Transfer Bancontact</title>
                <model>cybersourcebanktransfer/payment_bancontact</model>
                <order_status>pending_payment</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>BE</specificcountry>
                <sort_order>1001</sort_order>
            </csbtbancontact>
            <csbtsofort>
                <active>0</active>
                <title>CyberSource Bank Transfer Sofort</title>
                <model>cybersourcebanktransfer/payment_sofort</model>
                <order_status>pending_payment</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>AT,BE,IT,DE,ES,NL</specificcountry>
                <sort_order>1002</sort_order>
            </csbtsofort>
            <csbtideal>
                <active>0</active>
                <title>CyberSource Bank Transfer iDEAL</title>
                <model>cybersourcebanktransfer/payment_ideal</model>
                <order_status>pending_payment</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>NL</specificcountry>
                <sort_order>1003</sort_order>
            </csbtideal>
            <csbtgiropay>
                <active>0</active>
                <title>CyberSource Bank Transfer giropay</title>
                <model>cybersourcebanktransfer/payment_giropay</model>
                <order_status>pending_payment</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <sort_order>1004</sort_order>
            </csbtgiropay>
            <csbteps>
                <active>0</active>
                <title>CyberSource Bank Transfer EPS</title>
                <model>cybersourcebanktransfer/payment_eps</model>
                <order_status>pending_payment</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>AT</specificcountry>
                <sort_order>1005</sort_order>
            </csbteps>
            <cybersourceapplepay>
                <active>0</active>
                <title>CyberSource Apple Pay Checkout</title>
                <model>cybersourceapplepay/pay</model>
                <order_status>processing</order_status>
                <sort_order>6000</sort_order>
                <button_style>white</button_style>
                <button_type>buy</button_type>
            </cybersourceapplepay>
        </payment>
        <customer>
            <atp>
                <enabled>0</enabled>
                <use_internal_block>1</use_internal_block>
                <action_on_error>ACCEPT</action_on_error>
                <title>We're Sorry!</title>
                <message>You cannot take this action at this time.</message>
            </atp>
        </customer>
        <dev>
            <cybersourceapplepay>
                <allow_simulator>0</allow_simulator>
            </cybersourceapplepay>
        </dev>
    </default>
</config>
