<?xml version="1.0"?>
<config>
    <modules>
        <Tigren_Kpayment>
            <version>0.0.1</version>
        </Tigren_Kpayment>
    </modules>
    <frontend>
        <routers>
            <kpayment>
                <use>standard</use>
                <args>
                    <module>Tigren_Kpayment</module>
                    <frontName>kpayment</frontName>
                </args>
            </kpayment>
        </routers>
        <layout>
            <updates>
                <kpayment>
                    <file>kpayment.xml</file>
                </kpayment>
            </updates>
        </layout>
        <translate>
            <modules>
                <Tigren_Kpayment>
                    <files>
                        <default>Tigren_Kpayment.csv</default>
                    </files>
                </Tigren_Kpayment>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <kpayment>
                <use>admin</use>
                <args>
                    <module>Tigren_Kpayment</module>
                    <frontName>kpayment</frontName>
                </args>
            </kpayment>
        </routers>
    </admin>
    <adminhtml>
        <!--<layout>-->
            <!--<updates>-->
                <!--<kpayment>-->
                    <!--<file>kpayment.xml</file>-->
                <!--</kpayment>-->
            <!--</updates>-->
        <!--</layout>-->
        <translate>
            <modules>
                <Tigren_Kpayment>
                    <files>
                        <default>Tigren_Kpayment.csv</default>
                    </files>
                </Tigren_Kpayment>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <kpayment>
                <class>Tigren_Kpayment_Model</class>
                <resourceModel>kpayment_mysql4</resourceModel>
            </kpayment>
            <kpayment_mysql4>
                <class>Tigren_Kpayment_Model_Mysql4</class>
                <entities>
                    <credit_reference>
                        <table>kpayment_credit_reference</table>
                    </credit_reference>
                </entities>
            </kpayment_mysql4>
        </models>
        <resources>
            <kpayment_setup>
                <setup>
                    <module>Tigren_Kpayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kpayment_setup>
            <kpayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kpayment_write>
            <kpayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kpayment_read>
        </resources>
        <blocks>
            <kpayment>
                <class>Tigren_Kpayment_Block</class>
            </kpayment>
        </blocks>
        <helpers>
            <kpayment>
                <class>Tigren_Kpayment_Helper</class>
            </kpayment>
        </helpers>
    </global>
    <default>
        <payment>
            <kpayment_credit>
                <active>1</active>
                <title>Kpayment Credit</title>
                <order_status>pending</order_status>
                <model>kpayment/payment_credit</model>
                <merchant_id>451387678647001</merchant_id>
                <terminal_id>32432143</terminal_id>
                <api_base_url>https://dev-kpaymentgateway-services.kasikornbank.com/card/v2</api_base_url>
                <inline_javascript_url>https://dev-kpaymentgateway.kasikornbank.com/ui/v2/kinlinepayment.min.js</inline_javascript_url>
                <payment_action>authorize</payment_action>
                <cctypes>VI,MC</cctypes>
                <usetoken>1</usetoken>
                <sort_order>1</sort_order>
            </kpayment_credit>
            <kpayment_qrcode>
                <active>1</active>
                <title>Kpayment QRcode</title>
                <order_status>pending</order_status>
                <model>kpayment/payment_qrcode</model>
                <merchant_id>451387678647001</merchant_id>
                <terminal_id>32432143</terminal_id>
                <api_base_url>https://dev-kpaymentgateway-services.kasikornbank.com/qr/v2</api_base_url>
                <ui_javascript_url>https://dev-kpaymentgateway.kasikornbank.com/ui/v2/kpayment.min.js</ui_javascript_url>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_review_payment>1</can_review_payment>
                <usetoken>0</usetoken>
                <sort_order>1</sort_order>
            </kpayment_qrcode>
        </payment>
    </default>
    <crontab>
        <jobs>
            <kpayment_recheck_all_ordercredit>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>kpayment/cron_credit::updateOrderStatusCredit</model></run>
            </kpayment_recheck_all_ordercredit>
        </jobs>
    </crontab>
</config>
