<?xml version="1.0"?>
<config>
    <modules>
        <Tigren_Kerry>
            <version>0.0.1</version>
        </Tigren_Kerry>
    </modules>
    <frontend>
        <routers>
            <kerry>
                <use>standard</use>
                <args>
                    <module>Tigren_Kerry</module>
                    <frontName>kerry</frontName>
                </args>
            </kerry>
        </routers>
        <layout>
            <updates>
                <kerry>
                    <file>kerry.xml</file>
                </kerry>
            </updates>
        </layout>
        <translate>
            <modules>
                <Tigren_Kerry>
                    <files>
                        <default>Tigren_Kerry.csv</default>
                    </files>
                </Tigren_Kerry>
            </modules>
        </translate>
    </frontend>
    <!--<admin>-->
        <!--<routers>-->
            <!--<adminhtml>-->
                <!--<use>admin</use>-->
                <!--<args>-->
                    <!--<modules><Tigren_Kerry after="Mage_Adminhtml">Tigren_Kerry_Adminhtml</Tigren_Kerry></modules>-->
                <!--</args>-->
            <!--</adminhtml>-->
        <!--</routers>-->
    <!--</admin>-->
    <admin>
        <routers>
            <kerry>
                <use>admin</use>
                <args>
                    <module>Tigren_Kerry</module>
                    <frontName>kerry</frontName>
                </args>
            </kerry>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <kerry>
                    <file>kerry.xml</file>
                </kerry>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <kerry_observer>
                        <class>kerry/observer</class>
                        <method>addCustomBtn</method>
                    </kerry_observer>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <translate>
            <modules>
                <Tigren_Kerry>
                    <files>
                        <default>Tigren_Kerry.csv</default>
                    </files>
                </Tigren_Kerry>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <kerry>
                <class>Tigren_Kerry_Model</class>
                <resourceModel>kerry_mysql4</resourceModel>
            </kerry>
            <kerry_mysql4>
                <class>Tigren_Kerry_Model_Mysql4</class>
            </kerry_mysql4>
        </models>
        <resources>
            <kerry_setup>
                <setup>
                    <module>Tigren_Kerry</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kerry_setup>
            <kerry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kerry_write>
            <kerry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kerry_read>
        </resources>
        <blocks>
            <kerry>
                <class>Tigren_Kerry_Block</class>
            </kerry>
        </blocks>
        <helpers>
            <kerry>
                <class>Tigren_Kerry_Helper</class>
            </kerry>
        </helpers>
    </global>
    <default>
        <kerry>
            <general>
                <app_id>DTN1</app_id>
                <app_key>7f5658a6-d5b2-474f-8c8c-3929412e12f0</app_key>
                <api_base_url>http://exch.th.kerryexpress.com/ediwebapi_uat</api_base_url>
                <consignment_no_prefix>CNV1</consignment_no_prefix>
                <service_code>ND</service_code>
                <carrier_code>KERRY</carrier_code>
            </general>
        </kerry>
    </default>
</config>
