<!--@subject A New Comment Has Been Added to the Blog Post @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650"
                       style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}"
                            alt="{{var store.getFrontendName()}}" style="margin-bottom:10px;" border="0"/></a>
                        </td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:x-large; font-weight:normal; margin:0 0 20px 0;">
                                A new comment has been added to the &quot;{{var post.getTitle()}}&quot; post.
                            </h1>

                            <p style="margin:5px 0;">
                                Hello {{var subscription.getCustomerName()}},
                            </p>
                            <p style="margin:5px 0;">
                                {{var comment.getName()}} has posted a comment to the
                                &quot;<a href="{{var post.getPostUrl()}}" target="_blank">{{var post.getTitle()}}</a>&quot; post.
                            </p>
                            <p bgcolor="#EAEAEA" align="left" style="background:#EAEAEA; text-align: left; font-style: italic; margin:10px 0; padding: 10px; border: 1px solid #D5D5D5;">
                                {{var comment.getMessage()}}
                            </p>
                            <p style="margin:5px 0;">
                                Please follow the <a href="{{var comment.getCommentUrl()}}" target="_blank">link</a> to view the thread.
                            </p>
                            <p style="font-size:smaller; margin: 20px 0px 0px 0px;">
                                You received this email because you had subscribed to getting notifications of new comments
                                to the &quot;<a href="{{var post.getPostUrl()}}" target="_blank">{{var post.getTitle()}}</a>&quot; post.
                            </p>
                            <p style="font-size:smaller; margin: 5px 0px 0px 0px;">
                                If you want to unsubscribe from further notifications, please <a href="{{var subscription.getUnsubscribeUrl()}}">click here</a>.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
                            <p style="margin:0;">With best regards, <strong>{{var store.getFrontendName()}}</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
