<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Crystal_AboutusMobile>
            <version>1.0.0</version>
        </Crystal_AboutusMobile>
    </modules>
    <global>
        <resources>
            <aboutusmobile_setup>
                <setup>
                    <module>Crystal_AboutusMobile</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aboutusmobile_setup>
            <aboutusmobile_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aboutusmobile_write>
            <aboutusmobile_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aboutusmobile_read>
        </resources>
        <helpers>
            <aboutusmobile>
                <class>Crystal_AboutusMobile_Helper</class>
            </aboutusmobile>
        </helpers>
        <models>
            <aboutusmobile>
                <class>Crystal_AboutusMobile_Model</class>
            </aboutusmobile>
        </models>
    </global>
    <default>
        <aboutusmobile_options>
            <Folowus_Facebook_1>
                <isactive>0</isactive>
            </Folowus_Facebook_1>
            <Folowus_Facebook_2>
                <isactive>0</isactive>
            </Folowus_Facebook_2>
            <Folowus_Instagram_1>
                <isactive>0</isactive>
            </Folowus_Instagram_1>
            <Folowus_Instagram_2>
                <isactive>0</isactive>
            </Folowus_Instagram_2>
            <Folowus_Youtube>
                <isactive>0</isactive>
            </Folowus_Youtube>
        </aboutusmobile_options>

        <fcm_options>
            <key_config>
                <env>dev</env>
                <broadcast_env>messageBroadcast_develop</broadcast_env>
                <status>true</status>
            </key_config>
        </fcm_options>
    </default>
    <!--<admin>-->
    <!--<routers>-->
    <!--<adminhtml>-->
    <!--<args>-->
    <!--<modules>-->
    <!--<aboutusmobile before="Mage_Adminhtml">Crystal_AboutusMobile_Adminhtml</aboutusmobile>-->
    <!--</modules>-->
    <!--</args>-->
    <!--</adminhtml>-->
    <!--</routers>-->
    <!--</admin>-->
    <!--<adminhtml>-->
    <!--<layout>-->
    <!--<updates>-->
    <!--<aboutusmobile>-->
    <!--<file>aboutusmobile.xml</file>-->
    <!--</aboutusmobile>-->
    <!--</updates>-->
    <!--</layout>-->
    <!--</adminhtml>-->
</config>
