<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Myaccount>
      <version>0.1.0</version>
    </Magebuzz_Myaccount>
  </modules>
  <global>
    <models>
      <magebuzz_myaccount>
        <class>Magebuzz_Myaccount_Model</class>
        <resourceModel>magebuzz_myaccount_resource</resourceModel>
      </magebuzz_myaccount>
      <magebuzz_myaccount_resource>
        <class>Magebuzz_Myaccount_Model_Resource</class>
      </magebuzz_myaccount_resource>
    </models>
    <blocks>
      <magebuzz_myaccount>
        <class>Magebuzz_Myaccount_Block</class>
      </magebuzz_myaccount>
    </blocks>
    <helpers>
      <magebuzz_myaccount>
        <class>Magebuzz_Myaccount_Helper</class>
      </magebuzz_myaccount>
    </helpers>
  </global>

  <frontend>
    <routers>
      <myaccount>
        <use>standard</use>
        <args>
          <module>Magebuzz_Myaccount</module>
          <frontName>myaccount</frontName>
        </args>
      </myaccount>
    </routers>
    <layout>
      <updates>
        <magebuzz_myaccount>
          <file>magebuzz_myaccount.xml</file>
        </magebuzz_myaccount>
      </updates>
    </layout>
  </frontend>
</config>