<!--@subject Email - Footer @-->
                    <!-- End Content -->

                    </td>
                </tr>
                <tr>
                  <td>
                    <div class="email-footer">
                      <div class="container">
                        <div class="site-address">
                          <h3>Carnival supply CO.,ltd.</h3>
                          <span class="block">428 Siam Square Soi.7 Rama 1 rd, Pathumwan Bangkok 10330 Thailand  Tel. 099-216-4445</span>
                        </div>
                        <div class="site-follow">
                          <h3 class="title">FOLLOW US</h3>
                          <ul>
                            <li>
                              <a class="link-facebook"  href="https://www.facebook.com/carnivalbkk" title="CARNIVAL STORE">CARNIVAL STORE</a>
                            </li>
                            <li>
                              <a class="link-instagram"  href="https://www.instagram.com/carnivalbkk/" title="CARNIVALBKK">CARNIVALBKK</a>
                            </li>
                            <li>
                              <a class="link-facebook"  href="https://www.facebook.com/uppergroundbkk" title="UPPERGROUND BY CARNIVAL">UPPERGROUND BY CARNIVAL</a>
                            </li>
                            <li>
                              <a class="link-instagram"  href="https://www.instagram.com/uppergroundbkk/" title="UPPERGROUNDBKK">UPPERGROUNDBKK</a>
                            </li>
                            <li>
                              <a class="link-youtube" href="https://www.youtube.com/channel/UCaaDWHXx-fnfPbkhgSGpaHQ" title="Carnival Bangkok">Carnival Bangkok</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
