<?xml version="1.0"?>
<config>
    <modules>
        <Tigren_Member>
            <version>0.1.1</version>
        </Tigren_Member>
    </modules>
    <frontend>
        <routers>
            <member>
                <use>standard</use>
                <args>
                    <module>Tigren_Member</module>
                    <frontName>member</frontName>
                </args>
            </member>
        </routers>
        <layout>
            <updates>
                <member>
                    <file>member.xml</file>
                </member>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <member>
                <class>Tigren_Member_Block</class>
            </member>
        </blocks>
        <models>
            <member>
                <class>Tigren_Member_Model</class>
                <resourceModel>member_mysql4</resourceModel>
            </member>
            <member_mysql4>
                <class>Tigren_Member_Model_Mysql4</class>
                <entities>
                    <notify_vip>
                        <table>member_notify_vip</table>
                    </notify_vip>
                </entities>
            </member_mysql4>
        </models>
        <resources>
            <member_setup>
                <setup>
                    <module>Tigren_Member</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </member_setup>
            <member_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </member_write>
            <member_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </member_read>
        </resources>
        <helpers>
            <member>
                <class>Tigren_Member_Helper</class>
            </member>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <cron_save_missing_order>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>member/observer::saveMissingOrder</model>
                </run>
            </cron_save_missing_order>
            <send_mail_notify_expire>
                <schedule>
                    <cron_expr>* 12 * * *</cron_expr>
                </schedule>
                <run>
                    <model>member/observer::sendMailNotifyExpireDate</model>
                </run>
            </send_mail_notify_expire>
        </jobs>
    </crontab>
</config>