<?xml version="1.0" encoding="UTF-8"?>
<config>
   <sections>
      <payment>
         <groups>
            <p2c2p translate="label" module="p2c2p">
               <label>2C2P Module</label>
               <sort_order>1000</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
               <fields>
                  <active translate="label">
                     <label>Enabled</label>
                     <validate>p2c2p-enable-plugin</validate>
                     <frontend_type>select</frontend_type>
                     <source_model>adminhtml/system_config_source_enabledisable</source_model>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>1</show_in_store>
                     <sort_order>2</sort_order>
                  </active>
                  <title translate="label">
                     <validate>p2c2p-required-entry</validate>
                     <label>Title</label>
                     <frontend_type>text</frontend_type>
                     <show_in_default>1</show_in_default>
                     <show_in_website>0</show_in_website>
                     <show_in_store>1</show_in_store>
                     <sort_order>3</sort_order>
                  </title>
                  <gatewayurl translate="label">
                     <label>Mode</label>
                     <frontend_type>select</frontend_type>
                     <source_model>P2c2p/Paymentmodetype</source_model>
                     <show_in_default>1</show_in_default>
                     <show_in_website>0</show_in_website>
                     <show_in_store>0</show_in_store>
                     <sort_order>4</sort_order>
                  </gatewayurl>
                  <merchantid translate="label">
                    <validate>p2c2p-required-entry</validate>
                     <label>Merchant Id</label>
                     <frontend_type>text</frontend_type>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>0</show_in_store>
                     <sort_order>8</sort_order>
                  </merchantid>
                  <apisecretekeytest translate="label">
                    <validate>p2c2p-required-entry</validate>
                     <label>Secret Key</label>
                     <frontend_type>text</frontend_type>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>0</show_in_store>
                     <sort_order>9</sort_order>
                  </apisecretekeytest>
                  <stored_card translate="label">
                     <label>Enable Stored Card</label>
                     <frontend_type>select</frontend_type>
                     <source_model>adminhtml/system_config_source_Yesno</source_model>
                     <show_in_default>1</show_in_default>
                     <show_in_website>0</show_in_website>
                     <show_in_store>0</show_in_store>
                     <sort_order>10</sort_order>
                  </stored_card>
                  <payment_expiry_123 translate="label">
                     <validate>p2c2p-required-entry p2c2p-validate-digits p2c2p-expiry digits-range-8-720</validate>
                     <label>123 Payment Expiry (hours)</label>
                     <frontend_type>text</frontend_type>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>0</show_in_store>
                     <sort_order>11</sort_order>
                  </payment_expiry_123>
                  <toc2p_language translate="label">
                     <label>Select Language</label>
                     <frontend_type>select</frontend_type>
                     <source_model>P2c2p/Paymentlangtype</source_model>
                     <show_in_default>1</show_in_default>
                     <show_in_website>0</show_in_website>
                     <show_in_store>0</show_in_store>
                     <sort_order>12</sort_order>
                  </toc2p_language>
                  <toc2p_url_success translate="label">
                     <label>URL for Success</label>
                     <frontend_type>text</frontend_type>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>0</show_in_store>
                     <sort_order>13</sort_order>
                  </toc2p_url_success>
                  <toc2p_url_fail translate="label">
                     <label>URL for Fail</label>
                     <frontend_type>text</frontend_type>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>0</show_in_store>
                     <sort_order>14</sort_order>
                  </toc2p_url_fail>
                  <crt_file_2c2p_request translate="label">
                     <label>2C2P .crt file (for request)</label>
                     <frontend_type>text</frontend_type>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>0</show_in_store>
                     <sort_order>15</sort_order>
                  </crt_file_2c2p_request>
                  <crt_file translate="label">
                     <label>Merchant .crt file</label>
                     <frontend_type>text</frontend_type>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>0</show_in_store>
                     <sort_order>15</sort_order>
                  </crt_file>
                  <pem_file translate="label">
                     <label>Merchant .pem file</label>
                     <frontend_type>text</frontend_type>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>0</show_in_store>
                     <sort_order>15</sort_order>
                  </pem_file>
                  <merchant_private_password translate="label">
                     <label>Merchant private password</label>
                     <frontend_type>text</frontend_type>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>0</show_in_store>
                     <sort_order>15</sort_order>
                  </merchant_private_password>
                  <sort_order translate="label">
                      <label>Sort Order</label>
                      <frontend_type>text</frontend_type>
                      <sort_order>2</sort_order>
                      <show_in_default>1</show_in_default>
                      <show_in_website>1</show_in_website>
                      <show_in_store>0</show_in_store>
                  </sort_order>
               </fields>
            </p2c2p>
            <p2c2p_onsite_internet_banking translate="label" module="p2c2p">
               <label>2C2P Onsite internet Banking</label>
               <sort_order>1000</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
               <fields>
                  <active translate="label">
                     <label>Enabled</label>
                     <frontend_type>select</frontend_type>
                     <source_model>adminhtml/system_config_source_enabledisable</source_model>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>1</show_in_store>
                     <sort_order>2</sort_order>
                  </active>
                  <title translate="label">
                     <validate>p2c2p-required-entry</validate>
                     <label>Title</label>
                     <frontend_type>text</frontend_type>
                     <show_in_default>1</show_in_default>
                     <show_in_website>0</show_in_website>
                     <show_in_store>1</show_in_store>
                     <sort_order>3</sort_order>
                  </title>
                  <gatewayurl translate="label">
                     <label>Mode</label>
                     <frontend_type>select</frontend_type>
                     <source_model>P2c2p/Paymentmodetype</source_model>
                     <show_in_default>1</show_in_default>
                     <show_in_website>0</show_in_website>
                     <show_in_store>1</show_in_store>
                     <sort_order>4</sort_order>
                  </gatewayurl>
                  <payment_expiry_123 translate="label">
                     <validate>p2c2p-required-entry p2c2p-validate-digits p2c2p-expiry digits-range-8-720</validate>
                     <label>123 Payment Expiry (hours)</label>
                     <frontend_type>text</frontend_type>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>1</show_in_store>
                     <sort_order>11</sort_order>
                  </payment_expiry_123>
                  <sort_order translate="label">
                     <label>Sort Order</label>
                     <frontend_type>text</frontend_type>
                     <sort_order>2</sort_order>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>1</show_in_store>
                  </sort_order>
                  <channels translate="label">
                     <label>Channels</label>
                     <frontend_type>textarea</frontend_type>
                     <comment>
                        <![CDATA[
       should be include header columns. [service_id,group_code,group_name,service_code,service_name,service_image]
            ]]>
                     </comment>
                     <sort_order>2</sort_order>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>1</show_in_store>

                  </channels>


                  <toc2p_url_success translate="label">
                     <label>URL for Success</label>
                     <frontend_type>text</frontend_type>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>1</show_in_store>
                     <sort_order>13</sort_order>
                  </toc2p_url_success>
                  <toc2p_url_fail translate="label">
                     <label>URL for Fail</label>
                     <frontend_type>text</frontend_type>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>1</show_in_store>
                     <sort_order>14</sort_order>
                  </toc2p_url_fail>
                  <toc2p_mobile_image translate="label">
                     <label>Image for mobile</label>
                     <frontend_type>text</frontend_type>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>1</show_in_store>
                     <sort_order>15</sort_order>
                  </toc2p_mobile_image>


               </fields>
            </p2c2p_onsite_internet_banking>

         </groups>
      </payment>
   </sections>
</config>
