<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Magpleasure_Searchcore
 */
-->
<config>
    <modules>
        <Magpleasure_Searchcore>
            <version>1.0.11</version>
        </Magpleasure_Searchcore>
    </modules>
    <frontend>
        <routers>
            <searchcore>
                <use>standard</use>
                <args>
                    <module>Magpleasure_Searchcore</module>
                    <frontName>searchcore</frontName>
                </args>
            </searchcore>
        </routers>
        <layout>
            <updates>
                <searchcore>
                    <file>searchcore.xml</file>
                </searchcore>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magpleasure_Searchcore>
                    <files>
                        <default>Magpleasure_Searchcore.csv</default>
                    </files>
                </Magpleasure_Searchcore>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <searchcore_controller_action_predispatch>
                        <class>searchcore/observer</class>
                        <method>updateSearchTypes</method>
                    </searchcore_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
		<layout>
			<updates>
				<searchcore>
					<file>searchcore.xml</file>
				</searchcore>
			</updates>
		</layout>
        <translate>
            <modules>
                <Magpleasure_Searchcore>
                    <files>
                        <default>Magpleasure_Searchcore.csv</default>
                    </files>
                </Magpleasure_Searchcore>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <events>
            <store_delete_commit_after>
                <observers>
                    <searchcore_store_delete_commit_after>
                        <class>searchcore/observer</class>
                        <method>storeDeleteCommitAfter</method>
                    </searchcore_store_delete_commit_after>
                </observers>
            </store_delete_commit_after>
            <store_save_commit_after>
                <observers>
                    <searchcore_store_save_commit_after>
                        <class>searchcore/observer</class>
                        <method>storeSaveCommitAfter</method>
                    </searchcore_store_save_commit_after>
                </observers>
            </store_save_commit_after>
        </events>
        <index>
            <indexer>
                <magpleasure_searchcore>
                    <model>searchcore/index</model>
                </magpleasure_searchcore>
            </indexer>
        </index>
        <models>
            <searchcore>
                <class>Magpleasure_Searchcore_Model</class>
                <resourceModel>searchcore_resource</resourceModel>
            </searchcore>
            <searchcore_resource>
                <class>Magpleasure_Searchcore_Model_Resource</class>
                <entities>
                    <type>
                        <table>mp_search_type</table>
                    </type>
                    <index>
                        <table>mp_search_index</table>
                    </index>
                    <query>
                        <table>mp_search_query</table>
                    </query>
                    <word>
                        <table>mp_search_word</table>
                    </word>
                </entities>
            </searchcore_resource>
        </models>
        <resources>
            <searchcore_setup>
                <setup>
                    <module>Magpleasure_Searchcore</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </searchcore_setup>
            <searchcore_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </searchcore_write>
            <searchcore_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </searchcore_read>
        </resources>
        <blocks>
            <searchcore>
                <class>Magpleasure_Searchcore_Block</class>
            </searchcore>
        </blocks>
        <helpers>
            <searchcore>
                <class>Magpleasure_Searchcore_Helper</class>
            </searchcore>
        </helpers>
    </global>
</config>