<?xml version="1.0"?>
<config>
	<modules>
		<Tigren_Ruffle>
			<version>0.1.9</version>
		</Tigren_Ruffle>
	</modules>
	<frontend>
		<routers>
			<ruffle>
				<use>standard</use>
				<args>
					<module>Tigren_Ruffle</module>
					<frontName>raffle</frontName>
				</args>
			</ruffle>
		</routers>
		<layout>
			<updates>
				<ruffle>
					<file>ruffle.xml</file>
				</ruffle>
			</updates>
		</layout>
		<translate>
			<modules>
				<Tigren_Ruffle>
					<files>
						<default>Tigren_Ruffle.csv</default>
					</files>
				</Tigren_Ruffle>
			</modules>
		</translate>
	</frontend>
	<admin>
	    <routers>
	      	<adminhtml>
	        	<args>
	          		<modules><Tigren_Ruffle after="Mage_Adminhtml">Tigren_Ruffle_Adminhtml</Tigren_Ruffle></modules>
	        	</args>
	      	</adminhtml>
	    </routers>
	</admin>
  	<adminhtml>		
		<layout>
			<updates>
				<ruffle>
					<file>ruffle.xml</file>
				</ruffle>
			</updates>
		</layout>
		<translate>
			<modules>
				<Tigren_Ruffle>
					<files>
						<default>Tigren_Ruffle.csv</default>
					</files>
				</Tigren_Ruffle>
			</modules>
		</translate>
  	</adminhtml>   
	<global>
		<models>
			<ruffle>
				<class>Tigren_Ruffle_Model</class>
				<resourceModel>ruffle_mysql4</resourceModel>
			</ruffle>
			<ruffle_mysql4>
				<class>Tigren_Ruffle_Model_Mysql4</class>
				<entities>
					<ruffle>
						<table>ruffle</table>
					</ruffle>
					<product>
						<table>ruffle_product</table>
					</product>
					<joiner>
						<table>ruffle_joiner</table>
					</joiner>
				</entities>
			</ruffle_mysql4>
		</models>
		<resources>
			<ruffle_setup>
				<setup>
					<module>Tigren_Ruffle</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ruffle_setup>
			<ruffle_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ruffle_write>
			<ruffle_read>
				<connection>
					<use>core_read</use>
				</connection>
			</ruffle_read>
		</resources>
		<blocks>
			<ruffle>
				<class>Tigren_Ruffle_Block</class>
			</ruffle>
		</blocks>
		<helpers>
			<ruffle>
				<class>Tigren_Ruffle_Helper</class>
			</ruffle>
		</helpers>
		<template>
      <email>
          <ruffle_email_settings_notification_after_joining_email_template translate="label" module="ruffle">
              <label>Notification After Joining Email Template</label>
              <file>ruffle/notification_after_joining_email_template.html</file>
              <type>html</type>
          </ruffle_email_settings_notification_after_joining_email_template>
          <ruffle_email_settings_notification_winner_email_template translate="label" module="ruffle">
              <label>Email Template for Notification to Winner</label>
              <file>ruffle/notification_winner_email_template.html</file>
              <type>html</type>
          </ruffle_email_settings_notification_winner_email_template>
      </email>
    </template>
	</global>
	<default>
    <ruffle>
      <email_settings>
        <sender_email>general</sender_email>
        <notification_after_joining_email_template>ruffle_email_settings_notification_after_joining_email_template</notification_after_joining_email_template>
        <notification_winner_email_template>ruffle_email_settings_notification_winner_email_template</notification_winner_email_template>
      </email_settings>
      
    </ruffle>
  </default>
</config>