<?xml version="1.0" encoding="UTF-8"?>
<config>

    <modules>
        <Crystal_ConfirmOrder>
            <version>0.1.0</version>
        </Crystal_ConfirmOrder>
    </modules>
    <global>
        <resources>
            <confirmorder_setup>
                <setup>
                    <module>Crystal_ConfirmOrder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </confirmorder_setup>
            <confirmorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </confirmorder_write>
            <confirmorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </confirmorder_read>
        </resources>
        <helpers>
            <confirmorder>
                <class>Crystal_ConfirmOrder_Helper</class>
            </confirmorder>
        </helpers>
        <models>
            <confirmorder>
                <class>Crystal_ConfirmOrder_Model</class>
                <resourceModel>confirmorder_resource</resourceModel>
            </confirmorder>
            <confirmorder_resource>
                <class>Crystal_ConfirmOrder_Model_Resource</class>
                <entities>
                    <confirm>
                        <table>crystal_confirm_order</table>
                    </confirm>
                </entities>
            </confirmorder_resource>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <confirmorder before="Mage_Adminhtml">Crystal_ConfirmOrder_Adminhtml</confirmorder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <confirmorder>
                    <file>confirmorder.xml</file>
                </confirmorder>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <confirmorder>
                <use>standard</use>
                <args>
                    <module>Crystal_ConfirmOrder</module>
                    <frontName>confirmorder</frontName>
                </args>
            </confirmorder>
        </routers>
    </frontend>
</config>
