<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mage_P2c2predirect>
            <version>7.0.0</version>
        </Mage_P2c2predirect>
    </modules>
    <global>
        <helpers>
            <p2c2predirect>
                <class>Mage_P2c2predirect_Helper</class>
            </p2c2predirect>
        </helpers>
        <blocks>
            <p2c2predirect>
                <class>Mage_P2c2predirect_Block</class>
            </p2c2predirect>
        </blocks>
        <models>
            <p2c2predirect>
                <class>Mage_P2c2predirect_Model</class>
                <resourceModel>p2c2predirect_Mysql4</resourceModel>
            </p2c2predirect>
            <p2c2predirect_Mysql4>
                <class>Mage_P2c2predirect_Model_Mysql4</class>
                <entities>
                    <token>
                        <table>p2c2p_token</table>
                    </token>
                    <meta>
                        <table>p2c2p_meta</table>
                    </meta>
                </entities>
            </p2c2predirect_Mysql4>
        </models>
        <resources>
            <p2c2predirect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </p2c2predirect_write>
            <p2c2predirect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </p2c2predirect_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <p2c2predirect>
                    <file>p2c2predirect.xml</file>
                </p2c2predirect>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <p2c2predirect>
                <active>0</active>
                <model>p2c2predirect/Paymentmethod</model>
                <order_status>Pending_2C2P</order_status>
                <title>Credit / Debit Card and Cash Payment (2C2P redirect)</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </p2c2predirect>
        </payment>
    </default>
    <frontend>
        <routers>
            <p2c2predirect>
                <use>standard</use>
                <args>
                    <module>Mage_P2c2predirect</module>
                    <frontName>p2c2predirect</frontName>
                </args>
            </p2c2predirect>
        </routers>
    </frontend>
</config>
