<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Magpleasure_Blog
 */
-->
<config>
    <modules>
        <Magpleasure_Blog>
            <version>2.2.4</version>
        </Magpleasure_Blog>
    </modules>
    <crontab>
        <jobs>
            <mpblog_cron_schedule>
                <schedule>
                    <cron_expr>0-59 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mpblog/cron::runSchedule</model>
                </run>
            </mpblog_cron_schedule>
            <mpblog_cron_views>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mpblog/cron::runViews</model>
                </run>
            </mpblog_cron_views>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <mpblog>
                <use>standard</use>
                <args>
                    <module>Magpleasure_Blog</module>
                    <frontName>mpblog</frontName>
                </args>
            </mpblog>
        </routers>
        <layout>
            <updates>
                <mpblog>
                    <file>mpblog.xml</file>
                </mpblog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magpleasure_Blog>
                    <files>
                        <default>Magpleasure_Blog.csv</default>
                    </files>
                </Magpleasure_Blog>
            </modules>
        </translate>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <mpblog_controller_action_layout_generate_blocks_after>
                        <type>singleton</type>
                        <class>Magpleasure_Blog_Model_Rss</class>
                        <method>blockCreated</method>
                    </mpblog_controller_action_layout_generate_blocks_after>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <customer_login>
                <observers>
                    <mpblog_customer_login>
                        <type>singleton</type>
                        <class>mpblog/observer</class>
                        <method>customerLoginAfter</method>
                    </mpblog_customer_login>
                </observers>
            </customer_login>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magpleasure_Blog after="Mage_Adminhtml">Magpleasure_Blog_Adminhtml</Magpleasure_Blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mp_blog_controller_action_predispatch>
                        <type>singleton</type>
                        <class>mpblog/adminhtml_observer</class>
                        <method>preDispatch</method>
                    </mp_blog_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <mp_blog_generate_blocks_after>
                        <type>singleton</type>
                        <class>mpblog/adminhtml_observer</class>
                        <method>generateBlockAfter</method>
                    </mp_blog_generate_blocks_after>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
        <layout>
            <updates>
                <mpblog>
                    <file>mpblog.xml</file>
                </mpblog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magpleasure_Blog>
                    <files>
                        <default>Magpleasure_Blog.csv</default>
                    </files>
                </Magpleasure_Blog>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <mpblog>
                <class>Magpleasure_Blog_Model</class>
                <resourceModel>mpblog_mysql4</resourceModel>
            </mpblog>
            <mpblog_mysql4>
                <class>Magpleasure_Blog_Model_Mysql4</class>
                <entities>
                    <post>
                        <table>mp_blog_posts</table>
                    </post>
                    <draft>
                        <table>mp_blog_drafts</table>
                    </draft>
                    <category>
                        <table>mp_blog_categories</table>
                    </category>
                    <tag>
                        <table>mp_blog_tags</table>
                    </tag>
                    <comment>
                        <table>mp_blog_comments</table>
                    </comment>
                    <comment_subscription>
                        <table>mp_blog_comments_subscriptions</table>
                    </comment_subscription>
                    <comment_notification>
                        <table>mp_blog_comments_notifications</table>
                    </comment_notification>
                    <view>
                        <table>mp_blog_views</table>
                    </view>
                    <author>
                        <table>mp_blog_authors</table>
                    </author>
                    <archive />
                    <mp_blog_draft>
                        <table>mp_blog_draft</table>
                    </mp_blog_draft>
                    <blogimages>
                        <table>blog_images</table>
                    </blogimages>
                </entities>
            </mpblog_mysql4>
            <sitemap>
                <rewrite>
                    <sitemap>Magpleasure_Blog_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
            <xsitemap>
                <rewrite>
                    <sitemap>Magpleasure_Blog_Model_Compatibility_Mageworx_Xsitemap</sitemap>
                </rewrite>
            </xsitemap>
        </models>
        <resources>
            <mpblog_setup>
                <setup>
                    <module>Magpleasure_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mpblog_setup>
            <mpblog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mpblog_write>
            <mpblog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mpblog_read>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <mpblog_init_routers>
                        <type>singleton</type>
                        <class>Magpleasure_Blog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </mpblog_init_routers>
                </observers>
            </controller_front_init_routers>
        </events>
        <blocks>
            <mpblog>
                <class>Magpleasure_Blog_Block</class>
            </mpblog>
        </blocks>
        <helpers>
            <mpblog>
                <class>Magpleasure_Blog_Helper</class>
            </mpblog>
        </helpers>
        <template>
            <email>
                <mpblog_notify_admin_new_comment_email_template translate="label" module="mpblog">
                    <label>Blog Pro - Notification of New Comment</label>
                    <file>mpblog/admin_new_comment.html</file>
                    <type>html</type>
                </mpblog_notify_admin_new_comment_email_template>
                <mpblog_notify_customer_comment_replyed_email_template translate="label" module="mpblog">
                    <label>Blog Pro - Notification of New Reply</label>
                    <file>mpblog/customer_reply_to_comment.html</file>
                    <type>html</type>
                </mpblog_notify_customer_comment_replyed_email_template>
                <mpblog_notify_admin_scheduled_post_email_template translate="label" module="mpblog">
                    <label>Blog Pro - Notification of Post Publishing</label>
                    <file>mpblog/admin_scheduled_post.html</file>
                    <type>html</type>
                </mpblog_notify_admin_scheduled_post_email_template>
            </email>
        </template>
    </global>
    <mpblog>
        <tag>
            <color_schemes>
                <default>
                    <label>Old Magento Colors</label>
                    <data>
                        <textcolor>2F2F2F</textcolor>
                        <textcolor2>9C5909</textcolor2>
                        <hicolor>2F2F2F</hicolor>
                    </data>
                </default>
                <grey>
                    <label>Grey</label>
                    <data>
                        <textcolor>111111</textcolor>
                        <textcolor2>9B9B9B</textcolor2>
                        <hicolor>111111</hicolor>
                    </data>
                </grey>
                <red>
                    <label>Red</label>
                    <data>
                        <textcolor>111111</textcolor>
                        <textcolor2>9A3232</textcolor2>
                        <hicolor>111111</hicolor>
                    </data>
                </red>
                <green>
                    <label>Green</label>
                    <data>
                        <textcolor>111111</textcolor>
                        <textcolor2>329A47</textcolor2>
                        <hicolor>111111</hicolor>
                    </data>
                </green>
                <blue>
                    <label>Blue</label>
                    <data>
                        <textcolor>111111</textcolor>
                        <textcolor2>297aa3</textcolor2>
                        <hicolor>111111</hicolor>
                    </data>
                </blue>
                <white>
                    <label>White</label>
                    <data>
                        <textcolor>FAFAFA</textcolor>
                        <textcolor2>FFFFFF</textcolor2>
                        <hicolor>FAFAFA</hicolor>
                    </data>
                </white>
            </color_schemes>
        </tag>
    </mpblog>
    <default>
        <mpblog>
            <menu>
                <enabled>1</enabled>
                <label>Blog</label>
                <position>5</position>
            </menu>
            <footer>
                <enabled>1</enabled>
                <label>Blog</label>
                <position>5</position>
            </footer>
            <style>
                <color_sheme>mpblog-grey</color_sheme>
            </style>
            <seo>
                <route>blog</route>
                <title>Blog</title>
            </seo>
            <layout>
                <mobile_list>{"layout":"two-columns-right","left_side":[],"right_side":["categories","search","tags","recent-comments","recent-posts","archive"],"content":["list"]}</mobile_list>
                <mobile_post>{"layout":"two-columns-right","left_side":[],"right_side":["categories","search","tags","recent-comments","recent-posts","archive"],"content":["post"]}</mobile_post>
                <desktop_list>{"layout":"two-columns-right","left_side":[],"right_side":["categories","search","tags","recent-comments","recent-posts","archive"],"content":["list"]}</desktop_list>
                <desktop_post>{"layout":"two-columns-right","left_side":[],"right_side":["categories","search","tags","recent-comments","recent-posts","archive"],"content":["post"]}</desktop_post>
            </layout>
            <recent_posts>
                <record_limit>5</record_limit>
                <display_short>1</display_short>
                <display_date>1</display_date>
                <short_limit>100</short_limit>
            </recent_posts>
            <redirect>
                <url_postfix>.html</url_postfix>
                <redirect_to_seo_formatted_url>1</redirect_to_seo_formatted_url>
            </redirect>
            <list>
                <count_per_page>10</count_per_page>
            </list>
            <post>
                <display_author>1</display_author>
                <display_print>0</display_print>
                <display_views>1</display_views>
                <display_categories>1</display_categories>
                <display_tags>1</display_tags>
                <date_manner>passed</date_manner>
            </post>
            <tags>
                <minimal_post_count>1</minimal_post_count>
                <mt_enabled>1</mt_enabled>
                <mt_height>300</mt_height>
                <mt_background>F8F7F5</mt_background>
                <mt_textcolor>111111</mt_textcolor>
                <mt_textcolor2>297aa3</mt_textcolor2>
                <mt_hicolor>111111</mt_hicolor>
            </tags>
            <comments>
                <use_comments>1</use_comments>
                <allow_guests>1</allow_guests>
                <record_limit>5</record_limit>
                <display_short>1</display_short>
                <display_date>1</display_date>
                <nofollow>1</nofollow>
            </comments>
            <rss>
                <display_on_list>1</display_on_list>
                <post_feed>1</post_feed>
                <category_feed>1</category_feed>
                <comment_feed>1</comment_feed>
            </rss>
            <social>
                <enabled>1</enabled>
                <networks>twitter,facebook,vkontakte,blogger,pinterest,tumblr,digg,delicious,stumbleupon,slashdot,reddit,linkedin,google,googleplus</networks>
            </social>
            <sitemap>
                <enabled>1</enabled>
                <include>blog,post,tag,category,archive</include>
            </sitemap>
            <notify_customer_comment_replyed>
                <enabled>1</enabled>
            </notify_customer_comment_replyed>
        </mpblog>
    </default>
</config>