<?xml version="1.0" ?>
<config>
    <modules>
        <Crystal_NewsNotification>
            <version>0.1.1</version>
        </Crystal_NewsNotification>
    </modules>
    <global>
        <resources>
            <newsnotification_setup>
                <setup>
                    <module>Crystal_NewsNotification</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newsnotification_setup>
            <newsnotification_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newsnotification_write>
            <newsnotification_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newsnotification_read>
        </resources>
        <blocks>
            <newsnotification>
                <class>Crystal_NewsNotification_Block</class>
            </newsnotification>
        </blocks>
        <helpers>
            <newsnotification>
                <class>Crystal_NewsNotification_Helper</class>
            </newsnotification>
        </helpers>
        <models>
            <newsnotification>
                <class>Crystal_NewsNotification_Model</class>
                <resourceModel>newsnotification_resource</resourceModel>
            </newsnotification>
            <newsnotification_resource>
                <class>Crystal_NewsNotification_Model_Resource</class>
                <entities>
                    <newsnotification>
                        <table>crystal_newsnotification</table>
                    </newsnotification>
                </entities>
            </newsnotification_resource>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <newsnotification before="Mage_Adminhtml">Crystal_NewsNotification_Adminhtml</newsnotification>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <newsnotification>
                    <file>newsnotification.xml</file>
                </newsnotification>
            </updates>
        </layout>
    </adminhtml>
</config>