<?xml version="1.0"?>
<config>
    <modules>
        <Sunarc_StockAvailability>
            <version>1.2.0</version>
        </Sunarc_StockAvailability>
    </modules>
    <global>
        <helpers>
            <stockavailability>
                <class>Sunarc_StockAvailability_Helper</class>
            </stockavailability>
        </helpers>
        <models>
            <stockavailability>
                <class>Sunarc_StockAvailability_Model</class>
            </stockavailability>
        </models>
        <events>
            <catalog_product_save_after>
                <observers>
                    <prepare_product_on_save>
                        <type>singleton</type>
                        <class>Sunarc_StockAvailability_Model_Observer</class>
                        <method>prepareProductOnSave</method>
                    </prepare_product_on_save>
                </observers>
            </catalog_product_save_after>
        </events>
        <events>
            <sales_order_creditmemo_save_after>
                <observers>
                    <stockavailability>
                        <class>Sunarc_StockAvailability_Model_Observer</class>
                        <method>refundOrderInventory</method>
                    </stockavailability>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
    </global>
    <default>
        <ajaxlogin>
            <options>
                <enable>1</enable>
            </options>
        </ajaxlogin>
    </default>
</config>
