.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    width: 100%;
    height: 100%;
    background: #00000057;
}

.fade.in {
    opacity: 1;
}

.modal-dialog {
    width: 600px;
    margin: 250px auto;
    position: relative;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;
}

.modal.in .modal-dialog {
    transform: translate(0,0);
}

.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    outline: 0;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #ef6923;
}

.modal-header .modal-title{
    float: left;
    color: #fff;
    font-size: 20px;
    margin: 0;
}

.modal-header .close{
    float: right;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    padding: 3px 10px;
    background: #fff;
    color: #000;
    cursor: pointer;
    text-align: center !important;
    white-space: nowrap;
    border-radius: 4px;
    font-size: 16px;
}

.modal-header .close:hover{
    background: #fff;
}

.modal-body{
    padding: 15px 15px 30px 15px;
}

.modal-body .field-row{
    float: left;
    width: 350px;
}

.modal-body .field-row .normal{
    display: inherit;
    font-size: 15px;
}

.modal-body .field-row select{
    margin-top: 5px;
    width: 310px;
    height: 30px;
}

.modal-body button{
    margin-top: 22px;
    background: #ef6923;
    border-color: #ef6923;
    height: 30px;
}

.modal-body button:hover{
    background: #d65715;
    border: 1px solid #d65715;
}